.tag {
	color: #30a;
	background-color: #dbf;
	border-bottom: 1px solid #74c;
	border-right: 1px solid #74c;
	padding: 3px 4px 3px 4px;
	margin: 2px 2px 2px 0px;
	text-decoration: none;
	white-space: nowrap;
	line-height: 2.4;
	font-weight: bold;
}
.tag:hover {
	background-color: #74c;
	color: #fff;
}