.product-holder{ max-width:826px; overflow:hidden; padding:53px 10px 10px 47px;}
.ad-box{ width:130px; text-align:center; padding:6px 4px 12px 10px; border:1px solid #d6d6d6; margin:0 0 0 0; float:left; position:relative;}
.ad-box:hover { display:block; transition:all 0.5s;
-webkit-box-shadow: 0px 0px 8px 0px rgba(0,0,0,0.50);
-moz-box-shadow: 0px 0px 8px 0px rgba(0,0,0,0.50);
box-shadow: 0px 0px 8px 0px rgba(0,0,0,0.50);	
}
.ad-box:hover .heart-icon{ display:block;}

.product-list2{ margin:0; padding:0; list-style:none;}
.product-list2 li{ float:left; margin:0 14px 10px 0;}

.heart-icon{ display:block; position:absolute; top:5px; left:5px; display:none;}

.product-img{ margin:0 0 20px; display:block;}
.ad-box p{ margin:0; font-size:9pt; color:#595959; height:85px; overflow:hidden;}
.modal{ font-size:6.48pt; color:#d2d2d2; display:block; margin:0 0 29px;height:12px;overflow:hidden;}
.prise{ font-size:16px; color:#000; display:block; margin:0 0 14px;}
.cut-prise{ font-size:15px; display:inline-block; margin:0 0 14px; color:#000; }
.sale-prise{ font-size:16px; display:inline-block; margin:0 0 14px; color:red; }
.old-prise{ font-size:12px; color:#d2d2d2; margin:0 5px 0 0; text-decoration:line-through;}

.quantity-box{ width:84px; display:inline-block; position:relative;}
.text-field{ display:inline-flex;  margin:0 5px 0 -13px;}
.text-field input {height:24px;width:29px;margin-top:-4px;text-align:center;border-radius:4px}
.quantity-box em{ display:block; float:left; color:#4c4c4c; margin:0 0 15px;}
.pluse-icon{ position:absolute; top:-4px;}
.less-icon{ position:absolute; bottom:5px;}
.btn{
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    padding: 11px 24px;
    border: 1px solid #f7de00;
    border-radius: 5px;
    background: #ffffc4;
    background: -webkit-gradient(linear, left top, left bottom, from(#ffffc4), to(#f7de00));
    background: -moz-linear-gradient(top, #ffffc4, #f7de00);
    background: linear-gradient(to bottom, #ffffc4, #f7de00);
    text-shadow: #ffff00 1px 1px 1px;
    font: normal normal bold 7.5pt arial;
    color: #111111;
    text-decoration: none;
}
.btn:hover,
.btn:focus {
    background: #ffffc4;
    background: -webkit-gradient(linear, left top, left bottom, from(#ffffc4), to(#ffff00));
    background: -moz-linear-gradient(top, #ffffc4, #ffff00);
    background: linear-gradient(to bottom, #ffffc4, #ffff00);
    color: #111111;
    text-decoration: none;
}
.btn:active {
    background: #b3a900;
    background: -webkit-gradient(linear, left top, left bottom, from(#ffff00), to(#ffff00));
    background: -moz-linear-gradient(top, #ffff00, #ffff00);
    background: linear-gradient(to bottom, #ffff00, #ffff00);
}
