
@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);
@font-face {
  font-family: 'ds-digitalbold';
  src: url('../fonts/ds-digital/ds-digib-webfont.woff2') format('woff2'),
  url('../fonts/ds-digital/ds-digib-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'montserratlight';
  src: url('../fonts/montserat-light/montserrat-light-webfont.woff2') format('woff2'),
  url('../fonts/montserat-light/montserrat-light-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}
*{box-sizing:border-box;}
body {
  margin: 0;
  font-size: 16px;
  color: #333;
  line-height: normal;
}

.metro div.general-popup{width:1062px; font-family: 'Montserrat' !important;}
.general-fancy .fancybox-skin{border-radius: 0; background: #fff;}
.general-popup .pos-row:after{content: ''; clear:both; display: table; line-height: 0;}
.general-popup .pos-left{float:left; background: #f9f9f9; width:425px; border-right:1px solid #e7e7e7;}
.general-popup .pos-left-inner{padding-left: 30px; padding-right: 30px;}
.general-popup .order-ids-title{font-size: 18px; margin-bottom: 15px;}
.general-popup .order-ids-list{padding-left: 0; margin-bottom: 0; max-width: 300px; margin-bottom: 15px;}
.general-popup .order-ids-list li{color:333333; text-align: center; font-size: 14px; background: #f1f4f9; border:1px solid #598ffd; display: inline-block; margin-bottom: 5px; padding:7px; width:70px;}
.general-popup .pos-customer-table td{padding:12px 10px; border-top:1px solid #f0f0f0; font-size: 16px;}
.general-popup .pos-customer-table tr td:nth-child(2){font-weight: 700; color:#7c7c7c;}
.general-popup .pos-customer-table tr td:nth-child(1){padding-left: 30px;}
.general-popup .pos-total td{padding:24px 18px;}
.general-popup .pos-total td:first-child{padding-left: 30px;}
.general-popup .pos-total tr:first-child td{background: #626262;}
.general-popup .pos-total {width:100%; border-collapse: collapse; }
.general-popup .pos-total tr td:first-child{font-family: 'montserratlight'; font-size: 26px; color:#fff;}
.general-popup .pos-total tr td:nth-child(2){font-family:'ds-digitalbold'; font-size: 45px;}
.general-popup .pos-total tr:first-child td:nth-child(2){color:#86fe0e; text-align: right;}
.general-popup .pos-total tr:nth-child(2) td:nth-child(2){color:#ff3939; text-align: right;}
.general-popup .pos-total tr:nth-child(2) td{background: #313131;}
.payment-method{padding:50px 45px 0px 45px; margin-bottom: 45px; border-bottom: 1px solid #e7e7e7;}
.general-popup .payment-method .form-list .form-lbl{font-size: 18px;}
.general-popup .payment-method .form-list .form-lbl{width:230px;}
.general-popup .payment-method .form-list .form-data{-webkit-calc(100% - 230px); expression(100% - 230px); -moz-calc(100% - 230px); -o-calc(100% - 230px); width: calc(100% - 230px);}
.general-popup .pos-right{float:left; -webkit-calc(100% - 425px); expression(100% - 425px); -moz-calc(100% - 425px); -o-calc(100% - 425px); width: calc(100% - 430px);}
.general-popup .form-list .form-lbl{color:#333333; margin-top: 4px; font-size: 16px; float:left; width:100px;}
.general-popup .form-list .form-data{padding-left: 15px; float:left; -webkit-calc(100% - 100px); expression(100% - 100px); -moz-calc(100% - 100px); -o-calc(100% - 100px); width: calc(100% - 105px);}
.general-popup .form-list .form-data .form-col2{float:left;}
.general-popup .form-row:after{content: ''; display:table; line-height: 0; clear:both;}
.general-popup .form-row{margin-bottom: 22px;}
#order_wrapper input[name="card"], .general-popup .input{width:100%; border:1px solid #d9d9d9; padding:8px; outline:none;}
.general-popup .ta{width:100%; border:1px solid #d9d9d9; padding:8px; outline:none; height: 117px;}
.general-popup .pos-right-inner{padding-left: 50px; padding-right: 45px;}
.general-popup .btngreen{background: #008000; color:#f4f4f4; cursor:pointer; font-size: 18px; padding:13px 29px; border:0; outline:none;}
.general-popup .btngreen:hover{background: #045004;}
.general-popup .form-btn.text-center{text-align: center;}
.general-popup .clearfix:after{content: ''; display:table; line-height: 0; clear:both;}
.general-popup .last-digit .form-col2:first-child{width:190px;}
.general-popup .last-digit .form-col2:last-child{padding-left: 35px; -webkit-calc(100% - 190px); expression(100% - 190px); -moz-calc(100% - 190px); -o-calc(100% - 190px); width: calc(100% - 190px);}
.general-popup .form-list  .last-digit .form-lbl{width:105px;}
.general-popup .form-list  .last-digit .form-data{padding-left: 10px;  -webkit-calc(100% - 105px); expression(100% - 105px); -moz-calc(100% - 105px); -o-calc(100% - 105px); width: calc(100% - 105px);}
.general-popup .form-list  .last-digit .form-row{margin-bottom: 0;}
.general-popup {display: none;}
.general-popup select.custom-dropdown {border: 1px solid #d9d9d9; background-color: #fff !important; width: 125px; padding: 8px; font-size: 16px; border: 1px solid #ccc; height: 36px; -webkit-appearance: none; -moz-appearance: none; appearance: none; background: url(../images/caret-down.jpg)right top no-repeat; outline:none; }
.general-fancy .fancybox-close{right:0 !important; top:0 !important; background: url(../images/cross.jpg)no-repeat !important; width:63px; height: 45px;}
.general-fancy .fancybox-close:hover{opacity: 0.9;}