body {
	direction: rtl;
    unicode-bidi: embed;
}

.slider {
	direction: ltr;
}

.nav, .box-content ul, .category-list ul, .content ul {
	li a:after {
		float: left;
	}

	> a:after {
		float: left;
	}
}

#secondary, .box-content, .category-list ul {
	> a:after {
		float: left;
	}
}

.tools {
	li:first-child {
		float:right;
	}

	li:last-child {
		float:left;
	}
}

.product-list div .image img {
	@if $productlisttype == full-width {
		margin-left: 0;
	} @else {
		float: right;
		margin-left: 0.5em;
		margin-right: 0;
	}
}

.product-info {
	table {
		th {
			text-align: right;
		}
	
		td {
			text-align: left;
		}
	}
}

.inline-form {
	input[type="text"], input[type="search"] {
		float: right;
		margin: 0 0 0 2%;
	}

	input[type="search"] {
		width: 73%;
	}

	input[type="submit"] {
		float: left;
	}
}

#settings form {
	&:first-child {
		float: left;
	}

	&:last-child {
		float: right;
	}
}
.box-product {
	& > div {
		clear: left;

		img {
			margin-left: 5%;
			margin-right: 0;
			float: right;
		}

		margin: 0 0 5% 5%;
	}
}
.category-info .image img {
	@if $categoryinfotype == full-width {
		margin-left: 0;
		margin-right: 0;
	} @else {
		float: right;
		margin-left: 5%;
		margin-right: 0;
	}
}
.wishlist-product {
	. image {
		float: right;
		margin-left: 5%;
		margin-right: 0;
	}

	.button {
		float: right;
		clear: right;
	}
}

.cart-total {
	float: left;

	li {
		text-align: left;
	}
}
.shipping_price {
	float: left;
}
.shipping-method .radio {
	.highlight td:last-child label {
		padding-right: 1em;
		padding-left: 0;
	}
}

.checkout-heading {
	margin-right: -6.5%;
	margin-left: 0;
	padding-right: 6.5%;
	padding-left: 0;

	a {
		float: left;
	}
}

#payment-address, #payment-method {
	.buttons .right {
		margin-right: 2em;
	}
	.button {
		margin-right: -1.6em;
	}
	input[name="agree"] {
	    right: 0;
	}
}

.checkout-product {
	thead th.total, th.quantity {
		text-align: left;
	}

	tfoot th {
		text-align: left;
	}

	.price {
		text-align: left;
	}

	.quantity {
		text-align: left;
		margin-left: 1em;
		margin-right: 0;
	}

	.total {
		text-align: left;
	}
}

#tab-description {
	ul li {
		margin-right: 2em;
	}

	ol li {
		margin-right: 2em;
	}
}

#tabs {
	> a:after {
		right: 82%;
	}
}

.order-item {
	.order-id {
		float: right;
	}

	.order-status {
		float: left;
	}
}
.order-content {
	th {
		padding-right: 1em;
		padding-left: 0;
	}
}

.replyComment {
	margin-right: 10%;
}

.readMore .more {
	float: left;
}

.cart-info {
	input {
		margin-right: 0;
		margin-left: 0.5em;
	}

	li > div {
		.image {
			margin-right:  0;
		}
	}
}


@media (max-width:768px) {
	#button-remove {
		margin-right: 2.5%;
	}
}

@media (min-width:769px) {
	#column-left {
		margin-left: -4.5%;
	}
	
	#column-right {
		right: 0;
		left: -4.5%;
	}

	#notification + #column-left + #content {
		padding: 0;
	}

	#notification + #column-right + #content {
		padding: 0 29.5%;
	}

	.cart-info {
		li > div {
			margin-left: 0;
			margin-right: 35%;
		}

		.image {
			float: right;
			margin-left: 5%;
			margin-right: 0;
		}
	}

	#button-remove {
		margin-right: 3%;
	}
	
	#tabs {
		> a:after {
			right: 94%;
		}
	}
}

#primary .nav li ul {
	left: 0;
	right: 2.5%;

	li {
		text-align: right;
	}
}

.spatial-indicator {
	direction: ltr;
}

/*OMF flat specific*/
.nav > li > a:after, .box-content li a:after, #secondary > a:after, .category-list ul a:after, .content ul a:after {
	content:  url('images/arrow2.png');
}