@media (max-width: 1200px){

  .header-bottom .navbar-nav{float:none; text-align: center;}

  .header-bottom .navbar-nav > li{float:none; display: inline-block;}

  .header-bottom .navbar-nav{float:none;}

  .other-nav{text-align: center;}

  .ftr-menu li{float:none; display: inline-block;}

  .ftr-menu{text-align: center;}

  .ftr-menu li a{padding:0 10px;}

  #footer .social-shares li{margin-left: 10px;}

  .catalog-steps-title .title-name{font-size: 18px;}

  .catalog-steps-title .title-name-dtl{font-size: 14px;}

  .product-view .product-detail-inner > .product-detail-img{width:120px;}

  .product-view .product-detail-inner > .product-detail-text{-webkit-calc(100% - 120px); expression(100% - 120px); -moz-calc(100% - 120px); -o-calc(100% - 120px); width: calc(100% - 120px);}

  .related-product .review-stars{margin-right: 0; display: block; text-align: center;}

  .review-stars li{display: inline-block; float:none;}

  .product-detail .cart-total-wrp h3{font-size: 25px;}

  .product-detail .addtocart{font-size: 18px;}

  .cart-menu .cart-product-small .cart-quality{width:100%;}

  .cart-menu .product-detail .cart-total-wrp h3{float:right; margin-bottom: 0;}

  .cart-menu .cart-product-small .cart-total-wrp .qtyt-box{float:left;}

  .cart-menu .cart-product-small .cart-total-wrp{margin-top: 15px; margin-bottom: 0;}

  .cart-menu .cart-quality{margin-top: 10px;}

  .cart-menu .cart-product-small .item-features ul li{margin-top: 5px;}

  .serach-box{float:none; margin:auto; max-width: 640px; margin-top: 15px;}

  .serach-box:after{content:''; clear:both; display: table; line-height: 0;}

  #header a.logo{text-align: center; margin-bottom: 10px;}

  .catalog.row .col-lg-9{text-align: center;}

  .catalog .other-nav{display: inline-block;}

  #header .catalog-lbl{float:none;}

  .cart-items .big-image{width:100%; height:auto;}

  .video-box img{max-width: 100%;}

  .related-product .image img{width: 100%;}

  .related-product .image{width:100%;}

  .social-shares li{margin-left: 10px;}

  .addtocart{font-size: 14px;}

  .nav-tabs.small > li > a {

      padding: 15px 15px;

      font-size: 14.2222px;

  }

  .service-row .btn.btn-primary{font-size: 14px; padding: 4.5px 16px;}

  .service-links li{margin-bottom: 10px;}

  .history-graph{width:85%;}

  .history-graph .lefttop .value{margin-bottom: 36px;}

  .current-voucher .track-list:before{display: none;}

  .form-horizontal.v-form .control-label{font-size: 15px;}

  .account-product .drager-icon{width:70px;}

  .review-area a.review-links{font-size: 15px;}

  .product-detail .cart-quality .table{width:150px;}

  .product-detail .addtocart{font-size: 14px;}

  .white-box-left .btn.btn-primary{padding:8px 10px; font-size: 12px;}

  .white-box .white-box-inner{padding-left: 10px; padding-right: 10px;}

  .sidebox-billing tr td:first-child{padding-left: 0;}

  .white-box .table-cell + .table-cell{display: block; width:100%;}

  .white-box .product-detail-inner > .product-detail-img{width:115px;}

  .white-box .product-detail-inner > .product-detail-text{-webkit-width: calc(100% - 115px); -moz-width: calc(100% - 115px); -ms-width: calc(100% - 115px); width: calc(100% - 115px);}

  .white-box .cart-product-small.shoping-cart-box .cart-total-wrp h3.onbottom{margin-top: 0;}

  .white-box .white-box-right{padding-right: 30px;}

  .tabs-onfull .nav-tabs.small > li > a{padding:15px 25px;}

  .white-box .order-box .table-cell{display: block;}

  .order-box .order-col{border-left:1px solid #e6e6e6;}

  .order-box .order-col .btn-primary {margin-bottom: 25px;}

  .order-box:last-child .order-col{border-bottom: 0;}

  .return-head .btn.btn-primary{margin-bottom: 10px;}

  .return-items .return-lbl{text-align: left;}

  .return-items .pl0.pr0{padding-left: 15px; padding-right: 15px;}

  .return-items .return-lbl{margin-bottom: 5px;}

  .return-items .select-full{margin-bottom: 10px;}

  .filter-inner{padding: 47px 20px;}

  .shopt-type .list-inline li{margin-right: 10px; margin-bottom: 30px;}

  .lcd-listing .lcd-listing-col{text-align: center; padding-left: 10px; padding-right: 10px;}

  .lcd-listing .price{display: block; margin-top: 10px;}

  .mb-md-15{margin-bottom: 15px;}

  .mb-md-20{margin-bottom: 20px;}

  .mb-md-10{margin-bottom: 10px;}

  .mb-md-30{margin-bottom: 30px;}

  .mb-md-5{margin-bottom: 20px;}

  .mt-md-15{margin-top: 15px;}

  .mt-md-20{margin-top: 20px;}

  .mt-md-10{margin-top: 10px;}

  .mt-md-30{margin-top: 30px;}

  .mt-md-5{margin-top: 20px;}

  #header .site-search{margin-left: 0; -webkit-calc(100% - 40px); expression(100% - 40px); -moz-calc(100% - 40px); -o-calc(100% - 40px); width: calc(100% - 40px);}

  #header .site-search .btn-default{max-height: 41px;}

  #header .cart-nav .cart-icon{margin-top: 4px;}

  .packageTable .btn-blue{padding:3px 10px;}

  .packageTable tr td, .packageTable tr th{padding:10px;}

  

}

@media (max-width: 991px){

  .header-center a.logo{text-align: center; margin-bottom: 20px;}

  .header-top .top-inquery:first-child + .top-inquery{display: none;}

  .header-top-right > ul > li{margin-right: 30px;}

  .header-center .cart-nav .badge{right:0;}

  .header-top .top-inquery{width:100%; padding-left: 0 !important; padding-right: 0 !important;}

  .ftr-connet h4{margin-bottom: 0;}

  #footer .follow-us{text-align: center; margin-top: 30px;}

  #footer .social-shares{text-align: center;}

  .ftr-settings{text-align: center; margin-top: 30px;}

  .ftr-connet .subscribe .input{-webkit-calc(100% - 138px); expression(100% - 138px); -moz-calc(100% - 138px); -o-calc(100% - 138px); width: calc(100% - 143px);}

  .ftr-connet .subscribe .input{width:100%; margin-bottom: 15px;}

  .ftr-connet .subscribe .btn{margin-left: 0;}

  .ftr-connet .subscribe {text-align: center;}

  .nav-tabs > li{float:none;}

  .nav-tabs.small.five-tabs > li > a{padding:15px 20px;}

  .tab-inner.pd60{padding-left: 30px; padding-right: 30px;}



  .cart-menu .cart-product-small .product-detail .image{max-width: 120px;}

  .cart-menu .cart-product-small .item-features ul li{float:left; margin-top: 8px;}

  .cart-menu .cart-product-small .item-features ul li:first-child{max-width: 130px;}

  .cart-menu .cart-product-small .cart-quality{width:100%; margin-top: 10px; margin-bottom: 10px;}

  .cart-menu .cart-product-small .product-detail-text > h3{margin-bottom: 0;}

  .cart-menu{width:400px;}

  .cart-menu .cart-total td:first-child{width:30%;}

  .cart-menu .cart-total td:last-child{text-align: left;}

  .cart-menu .btn.cart-checkout{width:100%; margin-bottom: 10px;}

  .cart-menu .btn.cart-checkout + span{display: block; text-align: center; margin-bottom: 10px;}

  .cart-menu .product-detail .cart-total-wrp h3{width:100%;}

  .cart-menu .product-detail .cart-total-wrp .qtyt-box{display: block; margin-bottom: 10px;}

  .cart-menu .btn.btn-green{width:100%; margin-left: 0;}

  .top-dropdowns .caret-up{right:0;}

  .catalog-steps-col{margin-bottom:23px; position: relative;}

  .catalog-steps-col .catalog-steps-head{position: absolute; top:0; right:15px; -webkit-calc(100% - 345px); expression(100% - 345px); -moz-calc(100% - 345px); -o-calc(100% - 345px); width: calc(100% - 350px);}

  .catalog-steps-title .title-name{min-height: 0;}

  .related-product .product-attribute{max-width: 100%;}

  .product-view .product-detail-inner > .product-detail-text{width:100%;}

  #list-view .product-detail-text .col-md-4 .text-center{text-align:right;}

  .product-detail-text .col-md-4{padding-top: 0;}

  .review-area.show-mobile{display: block;}

  .product-detail-text .col-md-4 .review-area{text-align:left; float:left;}

  .product-detail-text .favorite{margin-top: 4px; display: inline-block; margin-top: 5px;}

  #list-view .review-stars{display: block; margin-bottom: 0;}

  .product-detail .review-stars li{margin-right: 3px;}

  .product-detail .cart-total-wrp .qtyt-box{margin-left: 25% !important;margin-top:20px; width:100%; display: inline-block; vertical-align: middle;}

  .cart-product-small .cart-total-wrp .cartPPrice {margin-top:-50px;margin-bottom:5px;font-size:25px;width:30%; margin-left:40%;}

  .product-detail .cart-total-wrp h3{display: inline-block; vertical-align: middle;}

  .product-detail .cart-close{right:10px; top:10px;}

  .features-row .review-area{display: none; }

  #list-view .product-detail-text .col-md-4{padding-top: 0;}

  .item-features{padding-left: 15px;}

  .product-detail .image{margin-bottom: 10px;}

  .product-view .product-detail-inner > .product-detail-img{width:100%;}

  .row.listing-row{margin-left: 0; margin-right: 0;}

  .form-horizontal .control-label + [class*="col-"] .control-label{padding-top: 10px; padding-bottom: 10px; }

  .cart-menu .cart-product-small .cart-total-wrp .qtyt-box{float:none;}

  .cart-menu .cart-product-small .cart-total-wrp{margin-top: 0;}

  .cart-menu .product-detail .cart-total-wrp h3{float:none; margin-bottom: 10px;}

  .catalog-steps-col .catalog-steps-head{display: none;}

  .catalog-steps-title .title-name{margin-top: 3px; position: relative;}

  .catalog-steps-title{border:3px solid #b9b9b9; padding:3px 7px; margin-bottom: 0;}

  .catalog-steps-box{display: none;}

  .catalog-steps-title .title-name .fa-angle-down{position:absolute; display: inline-block; right:5px; top:10px; font-size: 18px; font-size: 25px; font-weight: 700; color:#b9b9b9;}

  .catalog-steps-title.slideDown .fa-angle-down:before{content:"\f106";}

  .catalog-steps-col.active .catalog-steps-title{background: #b9b9b9;}

  .catalog-steps-col.active .circle{background: #8c8c8c;}

  .catalog-steps-col.active  .title-name .fa-angle-down{color:#fff;}

  .catalog-steps-col.active  .title-name .fa-angle-down:before{content: "\f00c";}

  .catalog-note{display: block; background: #4986fe; color:#fff; padding:10px 18px; text-align: center; font-size: 16px; margin-bottom: 10px;}

  .category-page .nav-tabs > li:not(.active){display: none;}

  .listing-row:first-child .listing-items{margin-left:3%;padding-top: 30px; padding-top: 30px}

  .filter-product{

    width:70%;

    position: fixed;

    height: 100%;

    background: #383838;

    z-index: 99;

    right: 0;

    top:0px;

    padding-right: 0;

    -webkit-transform: translateX(100%);

    -moz-transform: translateX(100%);

    -ms-transform: translateX(100%);

    -o-transform: translateX(100%);

    transform: translateX(100%);



    -webkit-transition: all 0.4s ease;

    -moz-transition: all 0.4s ease;

    -ms-transition: all 0.4s ease;

    -o-transition: all 0.4s ease;

    transition: all 0.4s ease;

  }

  .filter-product.slide-left{

    -webkit-transform: translateX(0%);

    -moz-transform: translateX(0%);

    -ms-transform: translateX(0%);

    -o-transform: translateX(0%);

    transform: translateX(0%);

    

  }

  .filter-product .filter-group{overflow-x: scroll;}

  .filter-inner{padding: 15px;}

  .filter-counter{display: inline-block;}

  .apply-filter{display: inline-block;}

  .filter-buttons{display: none;}

  .filter-product .filter-buttons{display: block; margin-bottom: 15px;}

  .filter-inner h2{margin-bottom: 20px;}

  .filter-product .filter-buttons .btn{vertical-align: top;}

  .filter-product .filter-buttons .btn:first-child{margin-right: 0px;}

  .navbar-default .navbar-toggle{float:left; margin-left: 15px; margin-right: 0;}

  .breadcrum{margin-bottom: 20px;}

  .find-parts{display: inline-block;}

  .catalog-page .row.notfind{display: none;}

  .catalog-page .steps-info{display: none;}

  .catalog-page .viewport-btns{display: none;}

  .catalog-steps-col.filter-product{position: static; -webkit-transform: none;

    -moz-transform: none;

    -ms-transform:none;

    -o-transform: none);

    transform: none; width:100%; padding-right: 15px; display: none;}

  .cart-thumbs .image img{width:100%;}

  .cart-descp .favorite{text-align:right;}

  .cart-total-wrp h3{display: inline-block; vertical-align: top;}

  .cart-total-wrp .qtyt-box{display: inline-block; margin-top: 5px; margin-right: 10px;}

  .video-box{text-align: center;}

  .videw-guide{padding-bottom: 30px;}

  .cart-page .social-shares{text-align: left;}

  .social-shares .share-alt{margin-right: 10px;}

  .cart-total-wrp .addtocart{text-align: center;}

  .pamentMethod-head{border-bottom:0;}

  .top-dropdowns .top-dropdown-ftr .btn.cart-paypal{margin:auto; float:none; display: block;}

  .top-dropdowns .top-dropdown-ftr .btn.cart-checkout{display: block; margin:auto; display: block;}

  .catalog-steps-box .find-parts{margin-top: 15px;}

  .panel-triggered{display:none;}

  .panel-trigger{display: inline-block;}

  .panel-triggered{margin-top: 25px;}

  .panel-trigger-parent h4{margin-bottom: 0;}

  .panel-trigger-parent h4.mb40{margin-bottom: 40px;}

  .panel-trigger-parent h4.mb25{margin-bottom: 25px;}

  .tabs-onfull.white-box-right{margin-top: 25px;}

  .thankyou-page .white-box .white-box-left{min-height: 0;}

  .thankyou-text{margin-top: 20px; margin-bottom: 50px;}

  .service-row  .pull-right{float:none !important;}

  .service-row  .text-right{text-align: center;}

  .service-links{margin-top: 15px;}

  .order-box .order-col .btn-primary{margin-bottom: 15px;}

  .order-box .order-col{margin-top: 15px;}

  .track-list li{margin-bottom: 0;}

  .track-list li:last-child{padding-right: 20px; }

  .order-box .order-col:last-child{border-right:0; border-bottom:1px solid #B9B8B8; padding-bottom: 20px;}

  .order-box .order-col{margin-right: 26px; padding-top: 10px; border-top:0; border-right:0; border-left:0; padding-right: 0;}

  .order-box .order-col:first-child{border-left: 0;}

  .current-voucher .track-list li{margin-top: 0; margin-bottom: 0;}

  .history-graph{width:80%;}

  .history-graph .lefttop .value{margin-bottom: 19px;}



  .mb-sm-15{margin-bottom: 15px;}

  .mb-sm-20{margin-bottom: 20px;}

  .mb-sm-10{margin-bottom: 10px;}

  .mb-sm-30{margin-bottom: 30px;}

  .mb-sm-5{margin-bottom: 20px;}

  .mt-sm-20{margin-top: 20px;}

  .mt-sm-10{margin-top: 10px;}

  .mt-sm-30{margin-top: 30px;}

  .mt-sm-5{margin-top: 20px;}

  .text-sm-center{text-align: center;}

  .text-sm-right{text-align: right;}

  .text-sm-left{text-align: left;}



  .order-box:last-child .order-col:last-child{border-bottom: 0;}

  .current-voucher.order-box .order-col{margin-right: 0;}

  .order-box:last-child .order-col{border-bottom: 0;}

  .account-product .drager-icon{display: none;}

  .account-product .product-detail-inner{padding:20px;}

  .account-btns{margin-top: 0; margin-bottom: 15px;}

  .account-btns{padding:0;}

  .product-detail .account-product .cart-quality .table{width:100%;}

  .account-product .features-row{margin-top: 15px;}

  .product-detail  .account-product .cart-total-wrp h3{padding-top: 20px;}

  .account-list-head .social-shares{width:295px; text-align: right;}

  .white-box-right.pd30{padding-left: 30px; padding-right: 30px;}

  .white-box .white-box-inner{padding-left: 15px; padding-right: 15px;}

  .white-box .white-box-inner.panel-trigger-parent{padding-left: 30px; padding-right: 30px;}

  .white-box .product-detail-inner{margin-left: 15px; margin-right: 15px;}

  .white-box .product-detail-inner{padding:15px 0;}

  .cart-product-small .product-detail-text{margin-top: -15px;}

  .product-detail-inner > .product-detail-text >h2{font-size:90%; }

  .cart-product-small .product-detail-text > h3{font-size: 16px;}

  .cart-product-small .product-detail .item-qty{margin-bottom: 0;}

  .download-row{margin-bottom: 15px;}

  .blue-border.mb40{margin-bottom: 20px;}

  .product-detail-inner{margin:0 15px; padding: 20px 5px;}

  .tab-inner.pd100{padding-left: 15px; padding-right: 15px;}

  .prev-next-btns{padding-bottom: 15px;}

  .payment-address{padding-left: 30px; padding-right: 30px;}

  .ship-box .table th:first-child{width:70%;  white-space: normal;}

  .ship-box .table th{width:33.3%;}

  .ship-box .table td{white-space: normal !important;}

  .payment-address .note{margin-top: 20px;}

  .pamentMethod-head .col-md-4 + .col-md-3{padding-left: 15px;}

  .map{height: 300px;}

  .map img{width:100%;}

  .cart-product-small.shoping-cart-box .cart-total-wrp h3.onbottom{width:100%; text-align: left; margin-top: 0px;}

  .product-detail .table .cart-total-wrp{padding-left: 0;}

  .product-detail .table .col-md-6.table-cell.v-top{padding-left: 0;}

  .order-address h5{padding-bottom: 8px;}

  .order-address + .border{margin-top: 10px;}

  .tab-inner.bbtm{border-bottom: 0;}

  .product-detail{margin-bottom: 20px;}

  .white-box .white-box-right{padding-left: 30px;}

  .white-box .product-detail-inner > .product-detail-img{width:100%;}

  .white-box .product-detail-inner > .product-detail-text{width:100%;}

  .review-area{margin-bottom:15px;}

  .nav-tabs > li > a{border-left:1px solid #e6e6e6;}

  .field-box{margin-right: 15px; margin-left: 15px; margin-top: 15px;}

  .field-box > .row{margin-left:0; margin-right: 0;}

  .white-box .order-box .table-cell + .table-cell{width:auto;}

  .featured-product .listing-col{text-align:center;}

  .featured-product{display: none;}

  .product-listing > .listing-col{text-align: center;}

  .lcd-listing .image{margin-right: 10px;}

  .sidebox .form-control.control-blue,

  .sidebox .form-control.control-white{margin-top: 10px;}

  .account-setting-right > .border{display: block;}

  .download-row{text-align: center;}

  .product-detail .cart-total.text-right{text-align: left;}

  .cart-product-small .product-detail .image{display: none;}

  .cart-menu .cart-product-small .product-detail .image{display: block;}



  .info-click + .save-info{display: none ;}

  .info-click .save-info{display: block;}

  .service-row > div:first-child{border-right:0; margin-bottom: 15px;}

  .service-row > div:last-child h3{text-align: left;}

  .ship-box-table .row:first-child{display: none;}

  .ship-box-table .row > div:first-child{margin-bottom: 10px;}

  .lcd-listing .image{display: none;}

  .listing-row .listing-items:nth-child(5n+6){clear:none;}

  .listing-row .listing-items:nth-child(4n+5){clear:both;}

  .partSearchBlock .form-inline .form-group{width:100% !important;}

  .partSearchBlock .partSearchContainer{margin-top: 0; margin-bottom: 30px;}

  .home-banner{height: 0; background-size:100% !important; padding-top:42%;}

  .videoPlayer ol {margin-left: 0px;margin-top:0px;}

  #ourSelection > .container > h2{margin-bottom: 30px;}

  .homeSlides{margin-bottom: 30px;}

  #popularProducts > .container > h2{margin-top: 30px; margin-bottom: 30px;}

  .cart-total-row .cart-headings{font-size:14px; }

  .cart-total-row #net-total {font-size:18px !important;}

  #cart_cart_right input[type=radio].css-radio + label.css-radio{font-size:10px;}

  .cart-total-row .cart-sub-headings{font-size:14px; }

  #footer .copyrights p {font-size:11px;}

}

@media(max-width: 990px)

{

 /* .listing-row .listing-items{width:30%;float:left !important;}

  .listing-row .listing-items:nth-child(3n+4){clear:both;}

*/

}

@media (max-width: 767px){

  .header-bottom-right{display: none;}

  .header-bottom .navbar-nav > li{display: block;}

  .header-bottom .header-bottom-left{margin-top: 0;}

  #header .header-bottom{padding:0;}

  .header-center .other-nav{display: none;}

  .navbar-nav + .other-nav{display:block; margin-bottom: 20px;}

  .form-horizontal .control-label{padding-top: 7px;}

  .tab-content > .tab-pane{padding-top: 20px;}

  .nav-tabs > li > a{padding:15px 28px;}

  .form-horizontal .control-label{font-size: 14px;}

  .bootstrap-select{width:100% !important;}

  .popup{width:100%;}

  #delete-list-pop.popup{width:100%;}

  .review-stars li{margin-right: 4px;}

  .wholesale-page > .row.row-centered{margin-left: 0; margin-right: 0;}

  #header .header-bottom{position: relative;}

  #header .header-bottom-left{margin-top: 0; min-height: 63px;}

  #header .navbar-toggle{margin-top: 15px;}

  .write-review .icon-heading{margin-bottom: 15px;}

  .write-review .col-sm-6.text-right{text-align: left; margin-bottom: 15px;}

  .step-guid{display: none;}

  .form-horizontal .control-label + [class*="col-"] .row [class*="col-"]:not(:last-child){margin-bottom: 15px;}

  .form-horizontal .policy-area .control-label{display: none;}



  .mb-xs-15{margin-bottom: 15px;}

  .mb-xs-20{margin-bottom: 20px;}

  .mb-xs-10{margin-bottom: 10px;}

  .mb-xs-30{margin-bottom: 30px;}

  .mb-xs-5{margin-bottom: 20px;}

  .mb-xs-7{margin-bottom:7px;}

  .mt-xs-20{margin-top: 20px;}

  .mt-xs-10{margin-top: 10px;}

  .mt-xs-30{margin-top: 30px;}

  .mt-xs-5{margin-top: 20px;}

  .text-xs-center{text-align: center;}

  .text-xs-right{text-align: right;}

  .text-xs-left{text-align: left;}



  .history-graph{width:100%; padding-left: 50px; margin-right: 0;}

  .history-graph .lefttop{left:0;}

  .history-graph .lefttop .history-amount{left:-10px; font-size: 14px; top:auto; bottom:0;}

  .history-graph .bottomcenter .history-date{width:32%; margin-left: 0; margin-right: 0;}

  .history-graph .bottomcenter p{font-size: 14px;}

  .account-list-head .social-shares{width:100%;}

  .account-list-head .social-shares{text-align: left;}

  .inline-info li:last-child{width:50%;}

  .has-or .or-text{display: block; margin:15px 0; text-align: center; position: static;}

  #Lookup .tab-inner{padding-left: 0; padding-right: 0;}

  .return-head .btn.btn-primary{margin-right: 0;}

  .sorted-by.text-right{text-align: left; margin-top: 10px;}

  .search-box .input-group-btn{margin-left: 15px;}

  .first-product .product-title{margin-top: 15px;}

  .first-product{margin-bottom: 30px;}

  .shopt-type .border{margin-top: 30px;}

  .lcd-listing .image{float:none; width:auto;}

  .lcd-listing .price{display: inline-block; margin-top: 0;}

  .lcd-listing .lcd-listing-col{margin-bottom: 20px;}

  .lcd-listing-wrp{padding: 20px; margin-bottom: 20px;}

  .lcd-listing .lcd-listing-col:after{display: none;}

  .form-horizontal.edit-customer-info .control-label{font-weight: 700;}

  #create-list-pop .btn{display: block; width:100%; margin-bottom: 10px;}

  #create-list-pop .form-group + .form-group label{display: none;}

  #move-list-pop .btn{width:100%; margin-bottom: 10px;}

  #move-list-pop .form-group + .form-group label{display: none;}

  #delete-item-pop.popup{width:100%;}

  #delete-item-pop.popup .btn{width:100%;}

  #delete-item-pop.popup h2.blue-title{text-align: center;}

  .xs-text-center{text-align: center;}

  .listing-row .listing-items:nth-child(5n+6){clear:none;}

  .listing-row .listing-items:nth-child(2n+1){clear:both;}

  .other-nav{display: none;}

}

@media (max-width: 667px){

  .return-btns .btn{display: block; width:100%; margin-bottom: 10px;}

  .search-box .input{width: -webkit-calc(100% - 185px); width: -moz-calc(100% - 185px); width: -ms-calc(100% - 185px); width: calc(100% - 185px);}

  #delete-list-pop .btn{width:100%;}

  #delete-list-pop h2.blue-title{text-align: center;}

  body:not(.body_buyback_buyback) .qtyt-box .spinner .btn:first-child{margin-bottom: -20px;margin-left:0px; margin-top:5px;}

  body:not(.body_buyback_buyback) .qtyt-box .spinner .btn:nth-child(2){display:block;margin-left:-56px;}

  .alert{font-size: 12px}

  .related-product .qtyt-box .txt{display: none}

  .body_catalog_repair_parts .input-group{margin-left:33%;}

  .body_catalog_repair_tools .input-group{margin-left:33%;}

  .body_catalog_temperedglass .input-group{margin-left:33%;}

  .body_catalog_accessories .input-group{margin-left:33%;}

  .body_product_search .input-group{margin-left:33%;}

  .listing-row .listing-items{}

}

@media (max-width: 600px){

  .header-top .header-top-left{width:100%; text-align: center; margin-bottom: 10px;}

  .header-top .header-top-right{width:100%; text-align: center;}

  .header-center .catalog-lbl{padding:5px 15px; float:none; display: block; margin:auto;}

  .catalog.row .serach-box{width: 100%;}

  .catalog.row .cart-box{width: 60px; padding-left: 0; position: absolute; right:15px; bottom:-5px; padding-right: 0;}

  .catalog.row{position: relative;}

  .header-bottom .other-nav li{display: block; max-width: 165px; margin:auto; margin-bottom: 10px;}

  .header-bottom .other-nav li:last-child{margin: auto;}

  .header-top-right > ul > li{width:49%; margin-right: 0;}

  .header-top .header-top-left .top-inquery:nth-of-type(3){display: block;}

  .header-top .top-inquery{width:50%;}

  .header-top-right > ul > li:first-child{display: none;}

  .header-top .header-top-left .top-inquery.inquery-track .fa{height: 13px; font-size: 13px;}

  .header-top .header-top-left .top-inquery.inquery-track:hover .fa img{margin-top: -13px;}

  .top-dropdowns .caret-up{right:17px;}

  .account-login{width:100%;}

  .account-login.top-dropdowns .caret-up{right:95px;}

  .btn.btn-green{font-size: 14px;}

  .quick-order{width:100%; left:0; right:0; margin:auto;}

  .quick-order.top-dropdowns .caret-up{left:105px;}

  .top-dropdowns .btn.cart-checkout{min-width: 100%;}

  .header-top .header-top-left .account-login{top:28px;}

  #header .header-center{padding-top:15px; padding-bottom: 15px;}

  .add-phone .phone-option + .form-control{width:100%;}

  .add-phone .phone-option{width:100%; padding-right: 0; margin-bottom: 15px;}

  .history-graph .lefttop .value{margin-bottom: 9px; font-size: 14px;}

  .product-detail .account-product .cart-total-wrp h3{display: block; width:100%; padding-top: 0;}

  .product-detail .account-product .cart-total-wrp h3{padding-top: 0;}

  .product-detail .account-product .cart-total-wrp .qtyt-box{display: block; margin-left: auto; margin-right: auto;}

  .product-detail .account-product .cart-total.text-right{text-align: center;}

  .product-detail .cart-total-wrp .qtyt-box{display: block; float:none; margin-top:20px; margin-right: auto;}

  .product-detail .cart-total-wrp h3{display: block; text-align: left; width:100%;}

  .cart-product-small .cart-total-wrp h3 + h4{display: block; text-align: center; max-width:100%; width:100%;}

  .cart-signin-btns .btn{margin-bottom: 10px;}

  .lcd-listing .lcd-listing-col{width:100%;}

  .lcd-listing .lcd-listing-col:after{content: ''; display: none;}

  .lcd-listing .lcd-listing-col:not(:first-child){padding-top: 0;}

  .lcd-listing .image{margin-right: 0;}

  .lcd-listing .lcd-listing-col:after{display: none;}

  .shoping-cart-page .product-detail .cart-total-wrp h3{text-align: center;}

  .product-detail .account-product  .cart-total-wrp h3{text-align: center;}

  .cart-product-small .cart-total-wrp .cartPPrice {margin-top:-50px;margin-bottom:5px;font-size:20px;width:40%; margin-left:160px;}

  .lcd-listing {font-size:11px;}

  .lcd-listing tr > th{padding:0px !important;} 

  .lcd-listing tr > td{padding:0px !important;}

  .lcd-listing .qtybox h4{font-size:16px;font-weight:400;}

  .lcd-listing .qtyt-box .spinner input.form-control{width:32px !important;height:26px !important;font-size:12px !important;}

  .lcd-listing .qtyt-box .spinner .fa{font-size:10px !important;margin-right:5px !important; margin-left:5px;}

  .lcd-listing .qtybox{vertical-align: middle}

  .lcd-listing .qtyt-box .input-group-btn-vertical{font-size:10px;margin-left:0px;}

  .nopadding{padding-left:0px !important;padding-right:0px !important;}

  .lbbprocess .sep{display:block; margin-top:5px !important; margin-bottom:5px !important;}

}

@media (max-width: 500px){

  .mailing-list li{margin-bottom: 25px;}

  .product-detail .addtocart{float:right;}

  .product-detail .cart-total-wrp:after{content: ''; clear:both; display: table; line-height: 0;}

  #list-view .cart-total-wrp{padding-top: 20px; margin-bottom: 20px;}

  .product-detail .item-features ul li{width:40%;}

  .catalog-steps-col .catalog-steps-head{position: static; width:100%}

  .popup-btns .btn{width:100%; font-size: 14px;}

  .popup-head .subtitle{font-size: 20px;}

  .repair-guide .repair-box .image{display: block; margin:auto;}

  .breadcrum .backlist + .seprator{margin-left: 5px; margin-right: 5px;}

  #ForgotPassword .form-submit .btn{min-width: 100%; margin-bottom: 15px;}

  .account-setting{padding:20px;}

  .product-detail .account-product .addtocart{float:none;}

  .cart-signin-btns{text-align: center;}

  .btn.cart-checkout{margin-right: 0;}

  .return-head .btn.btn-primary{font-size: 14px;}

  .white-box .white-box-right .tab-inner{padding-left: 0; padding-right: 0;}

  .btn.big{padding: 9px 30px; font-size: 18px;}

  #header .site-search .btn-default{display: none;}

  #header .cart-nav .cart-icon{width:auto; padding-right: 15px;}

  #header .cart-nav .badge{right:-4px;}

  .packageTable .btn-blue{font-size: 11px; padding:3px 5px;}

  .packageTable tr th{font-size: 18px;}

  .packageTable tr td, .packageTable tr th{padding:7px;}

  #popularProducts .popularProductsCol{margin-bottom: 40px;}

  .ourSelectionItems{text-align: center; padding-left: 0;}

}

@media (max-width: 450px){

  /*input[type=radio].css-radio2 + label.css-radio2{font-size:13px;}*/

  .fontsize45{font-size:24px;}

  .fontsize18{font-size:10px !important;}

  .item-features ul li .text{width:100%;}

  .ship-box-table .row > div:first-child{margin-bottom:5px;}

  .white-box .table-cell + .table-cell{width:auto !important;}

  .body_checkout_success .cart-product-small .cart-total-wrp{padding-top:4px}

  .body_checkout_success .confirm-page .sidebox  .line{margin-top:10px; margin-bottom: 10px}

  .fontsize13{font-size:13px;}

  .tab-inner + .border{margin-top:10px;margin-bottom:10px;}

  #popularProducts {display: none;}

  .ship-box input[type=radio].css-radio + label.css-radio{font-size:15px;}

  .form-horizontal .control-label{font-size: 14px;}

  .form-control{font-size: 12px;}

  .bootstrap-select .btn-default {font-size:12px;}

  .dropdown-menu {font-size:12px;}

  #header .other-nav li{display: block;}

  #header .other-nav li:last-child{margin-right:auto;}

  .ask-question .input{width:100%; margin-bottom: 10px;}

  .ask-question .btn.btn-primary{float:none; margin-left: 0;}

  .icon-heading img{margin-right: 10px;}

  .icon-heading{font-size: 18px;}

  .review-area .review-stars{margin-right: 5px;}

  .review-area a.review-links{margin-right: 5px; font-size: 13px;}

  .form-horizontal .policy-area label.css-label2{margin-bottom: 20px;}

  .history-graph .lefttop .value{margin-bottom: 2px;}

  .history-graph .lefttop .history-amount{font-size: 12px;}

  .history-graph .bottomcenter p{font-size: 12px;}

  .cart-product-small .item-qty{font-size:13px !important;}

  .account-setting .btn-primary{padding:4.5px 10px; width:100%; text-align: center;}

  h3{font-size: 18px;}

  .tab-inner.pd60{padding-left: 20px; padding-right: 20px;}

  .stack-box .stack-box-inner{padding:15px;}

  .product-detail .account-product  .item-features ul li{width:100%;}

  .product-detail .account-product  .item-features ul li:first-child{font-weight: 700;}

  .account-product{display: block;}

  .tab-inner{padding:0 20px;}

  .product-detail .product-detail-text > h3{font-size: 14px;}

  .inline-info li:last-child{width:100%;}

  .inline-info li:first-child{width:100%;}

  .save-info{margin-top: 10px;}

  .ship-box .table th:first-child{width:215px;}

  .prev-next-btns .btn{display: block; margin:0; margin-bottom: 15px;}

  .payment-images > div img{width:100%;}

  .payment-images > div{padding-left: 5px; padding-right: 5px;}

  .payment-images{margin-left: -5px; margin-right: -5px;}

  .security-img img{width:100%;}

  .security-img > div{padding-right: 5px; padding-left: 5px;}

  .security-img{margin-left: -5px; margin-right: -5px;}

  .pamentMethod-head h3{margin-bottom: 20px;}

  .pamentMethod-head input[type=radio].css-radio2 + label.css-radio2{font-size: 17px;}

  .btn.btn-primary.login-paypal{padding:10px;}

  .order-product.cart-product-small .item-qty{font-size: 16px;}

  .order-product.cart-product-small .product-detail-text > h3{font-size: 18px;}

  .order-product.cart-product-small .cart-total-wrp h3{font-size: 19px;}

  .order-product .product-detail-inner{padding-left: 10px; padding-right: 10px;}

  /*#back-to-top{left:40px;bottom:19px;}*/

  #___ratingbadge_0{display:none !important;}

  .estimate-total{font-size: 16px;}

  .white-box .sidebox .bb-subtitle{font-size: 14px;}

  .btn.btn-secondary{padding:12px 30px;}

  .blue-border:before{width:100px;}

  .inline-info li{font-size: 16px; margin-bottom: 5px;}

  .recent-order {padding:0px !important;}

  .recent-order .heading{font-size:10px !important;}

  .recent-order p{font-size:12px !important;}

  .recent-orders-row .tracking-updates{padding:0px; !important;}

  .recent-orderr .order{padding:0px !important; margin-bottom:-28px !important;}

  .recent-orderr {padding:2px !important;}

  .recent-orderr .heading{font-size:10px !important;}

  .recent-orderr p{font-size:12px !important;}

  .voc .heading{font-size:10px !important;}

  .vocc .heading{font-size:10px !important;}

  .vocc .order-col:last-child{   border-right: 0 !important; border-bottom: none !important;padding:0px !important; }

  .vocc .list-inline {border-bottom:1px solid #B9B8B8 !important;} 

  .shippingDetails table h3{font-size:12px;}

  .shippingDetails table{font-size:11px;}

  /*.shippingDetails table tbody tr td:first-child,.shippingDetails table thead tr th:first-child{display: none;}*/

  .shippingDetails .table-bordered td small{font-size:11px;}



}

@media (max-width: 400px){

  #popularProducts {display: none;}

  .catalog.row .serach-box{float:none; width:100%; margin-bottom: 25px;}

  .catalog.row .serach-box:after{content: ''; display: table; clear:both; line-height: 0;}

  .catalog.row .cart-box{float:none; margin:auto; width:50px; padding-right: 0; clear:both; bottom:19px; right:15px;}

  .cart-menu{width:300px;}

  .cart-menu .btn.cart-checkout{min-width: 0;}

  .cart-menu .cart-product-small .product-detail .image{width:100%; max-width: 100%; margin-top: 15px;}

  .product-detail .cart-close{top:10px;}

  h1{font-size: 25px;}

  .big-social .block-btn .fa{min-width: 35px;}

  .register-interest .btn-info{padding:16px 10px;}

  .form-horizontal .control-label{line-height: 16px; padding-top: 0;}

  .add-phone .phone-option{width:100%; padding-right: 0;}

  .add-phone .phone-option + .form-control{width:100%; margin-top: 10px;}

  .mailing-list input[type=radio].css-radio2 + label.css-radio2{font-size: 13px;}

  #header .site-search{margin-right: 5px; -webkit-calc(100% - 40px); expression(100% - 40px); -moz-calc(100% - 40px); -o-calc(100% - 40px); width: calc(100% - 45px);}

  .account-list-head .social-shares .share-alt .fa{display: none;}

  .social-shares li{margin-left: 7px;}

  .product-detail .cart-total-wrp h3{font-size: 13px;}

  .pricing-table td{font-size: 12px; padding:5px !important;}

  /*.cart-total-row  > div{width:100%; margin-bottom: 10px;}*/

  .cart-total-row .code.zipcode{margin-top: 10px;}

  .check-toggled.mt-xs{margin-top: 40px;}

  .map-direction > div{width:100%;}

  .listing-row .listing-items{width:100%;}

  .query-box .btn.btn-primary{padding: 4.5px 10px; font-size: 14px;}

  .write-review .col-sm-6.text-right .btn{font-size: 14px;}

  .cart-items .review-stars li{margin-right: 0;}

  .btn.btn-primary{font-size: 14px; /*padding:10px 10px;*/ white-space: normal;}

  .white-box .white-box-left .tab-inner{padding-left: 0; padding-right: 0;}

  .return-head .btn.btn-primary{font-size: 12px; padding: 4.5px 10px; white-space: normal; width:100%;}

  .search-result-info .sorted-by ul{margin-left: 0;}

  .search-box .search-btn{width:50px;}

  .search-box .input-group-btn{width:50px;}

  .search-box .input {

    width: -webkit-calc(100% - 65px);

    width: -moz-calc(100% - 65px);

    width: -ms-calc(100% - 65px);

    width: calc(100% - 65px);

  }

  .bb-box{padding:30px 0;}

  .estimate-total{font-size: 14px;}

  .form-horizontal input[type=checkbox].css-checkbox + label.css-label2{font-size:11px;}

}

@media (max-width:350px){

  #popularProducts  {display: none;}

  .history-graph .lefttop .history-amount{bottom:-20px;}

 

}





@media only screen and (max-width: 480px) {

	header.header-desktop {

		display:none;	

	}

  .packageTable .btn-success{

    font-size: 12px !important;

    padding: 6px 6px !important;

  }

	header.header-mobile {

		display:block;

		margin-bottom:0px !important;

	}

  .listing-row .listing-items:hover .related-product{

  position: inherit !important;

  zoom:0 !important;

  padding: 0px !important;

  

  box-shadow: none !important;

  padding-bottom: 0px !important;

 /* 

  z-index: 99;

  background: #fff;

  top:0;

  */

}



  .sticky_add_cart.row {

    display: inline-block;

  }

	header.header-mobile {

		display:block;

	}

	header.header-mobile .mob-logo-menus {

		background:#eeeeee;

		position:relative;

		padding:10px 0;

	}

	header.header-mobile {

		display:block;	

	}

	header.header-mobile a.logo {

		display:inline-block !important;

		margin:10px 0px 0px 32px !important;

		position:relative;

		z-index:999;

	}

	header.header-mobile .mob-top-info {

		padding-right:5px;	

		position:relative;

		z-index:999;

	}

	header.header-mobile a.logo img , 

	header.header-mobile .mob-top-info ul li a img {

		height:auto;

		max-width:140%;

		vertical-align:middle;

    margin-left:5%;

	}

	header.header-mobile .mob-top-info ul {

		margin:0;

		padding:0;

		text-align:right;

		display:block;

	}	

	header.header-mobile .mob-top-info ul li {

		display:inline-block;

		padding:10px 4px;

	}

	header.header-mobile .mob-top-info ul li a {

		display:block;

	}

	header.header-mobile .mob-top-info ul li .top-dropdowns {

		top:45px;

		right:-35px !important;	

	}

	header.header-mobile .mob-top-info ul li .top-dropdowns  .caret-up {

		right:45px;

	}

	header.header-mobile .mob-logo-menus nav.mob-menu-class {

		position:absolute;

		left:0;

		top:0;

		margin:0 !important;

		width:100%;

	}

	header.header-mobile .mob-logo-menus nav.mob-menu-class .navbar-header {

		margin:20px 0 0 15px;	

	}

	header.header-mobile .mob-logo-menus nav.mob-menu-class .navbar-header .navbar-toggle {

		margin:0 !important;

		padding:0;

		border:none;

	}

	header.header-mobile .mob-logo-menus nav.mob-menu-class .navbar-header .navbar-toggle:focus , 

	header.header-mobile .mob-logo-menus nav.mob-menu-class .navbar-header .navbar-toggle:hover {

		background:none;	

	}

	header.header-mobile .mob-logo-menus nav.mob-menu-class .navbar-collapse {

		background:#e4e4e4;

		margin-top:24px;

		position: relative;

		z-index: 999;

	}

	header.header-mobile .mob-logo-menus nav.mob-menu-class .navbar-collapse .navbar-nav {

		text-align:center;	

	}

	header.header-mobile .mob-logo-menus nav.mob-menu-class .navbar-collapse .navbar-nav .open .dropdown-menu {

		background:#eeeeee;

	}

	header.header-mobile .mob-logo-menus nav.mob-menu-class .navbar-collapse .navbar-nav .open .dropdown-menu li a {

		padding:5px 120px;

	}

	header.header-mobile .mob-logo-menus nav.mob-menu-class .navbar-collapse .navbar-nav .open .dropdown-menu .dropdown-submenu > a::after {

		display:none;

	}

	header.header-mobile .mob-logo-menus nav.mob-menu-class .navbar-collapse .navbar-nav .open .dropdown-menu .dropdown-submenu > a::before {

		content:"";

		width:11px;

		height:10px;

		display:inline-block;

		margin-right:5px;

		background:url(../images/icons/mob-nav-dropdown-arrow.png) left center no-repeat;

	}

	header.header-mobile .mob-logo-menus nav.mob-menu-class .navbar-collapse .navbar-nav .open .dropdown-menu .dropdown-submenu .dropdown-menu li a {

		padding:5px 140px;

	}

	header.header-mobile .mob-logo-menus nav.mob-menu-class .navbar-collapse .navbar-nav .open .dropdown-menu .dropdown-submenu .dropdown-menu .dropdown-submenu li a {

		padding:5px 160px;

	}

	header.header-mobile .mob-track-search {

		background:#f4f4f4;	

	}

	header.header-mobile .mob-logo-menus nav.mob-menu-class .navbar-collapse .other-nav {

		text-align:left;	

	}

	header.header-mobile .mob-logo-menus nav.mob-menu-class .navbar-collapse .other-nav li a {

		padding:12px 12px 12px 53.4px !important

	}

	.top-dropdowns {

		right:-15px !important;	

	}

	header.header-mobile .cart-nav {

		z-index:999;	

	}

	header.header-mobile .cart-nav .top-dropdowns .caret-up {

		right:25px !important;	

	}

	header.header-mobile .mob-track-search {

		background:#f4f4f4;

		padding:10px 0;

	}

	header.header-mobile .mob-track-search .site-search {

		width:calc(100%) !important;

		max-width:100% !important;	

	}

	header.header-mobile .mob-track-search .mob-qk-order {

		padding:8px 0px 0px 15px;

		text-align:left;

	}

	header.header-mobile .mob-track-search .mob-srch-area {

		padding:0 10px;

	}

	header.header-mobile .mob-track-search .mob-trk-order {

		padding:8px 15px 0px 0px;

		text-align:right;

	}

	header.header-mobile .mob-track-search .mob-trk-order ul li a , 

	header.header-mobile .mob-track-search .mob-qk-order ul li a {

		font-size:13px;

	}

	header.header-mobile .mob-track-search .mob-trk-order .top-dropdowns , 

	header.header-mobile .mob-track-search .mob-qk-order .top-dropdowns {

		top:40px !important;	

	}

	header.header-mobile .mob-track-search .mob-trk-order .top-dropdowns .caret-up {

		right:65px;	

	}

	header.header-mobile .mob-track-search .mob-qk-order .top-dropdowns .caret-up {

		left:65px;	

	}

	header.header-mobile .mob-3-btns {

		background:#eeeeee;	

	}

	header.header-mobile .mob-3-btns ul {

		display:block;

		text-align:center;

		padding:0;

		margin:0;

		width:100%;

	}

	header.header-mobile .mob-3-btns ul li{display: inline-block; vertical-align: middle;}

	header.header-mobile .mob-3-btns ul li:last-child{margin-right: 0;}

	header.header-mobile .mob-3-btns ul li a{display: block; position: relative; line-height: 15px; padding:12px 12px; padding-left: 57px; border-radius:3px; color:#4986fe; font-family: 'Montserrat'; font-size: 13px;}

	header.header-mobile .mob-3-btns ul li a:after{content: ''; display: table; clear:both; line-height: 0;}

	header.header-mobile .mob-3-btns ul li:hover a{background-color: #4986fe; color:#fff;}

	header.header-mobile .mob-3-btns ul li a small{text-align: left;}

	header.header-mobile .mob-3-btns ul span.img{overflow: hidden; position: absolute; left:14px; display: inline-block; vertical-align: middle; margin-right: 13px;}

	header.header-mobile .mob-3-btns ul span.img img{vertical-align: middle;}

	header.header-mobile .mob-3-btns ul li.repair span.img{height: 18px; top:10px;}

	header.header-mobile .mob-3-btns ul li.buy span.img{height: 23px; top:10px;}

	header.header-mobile .mob-3-btns ul li.wholesale span.img{height: 26px; top:8px;}

	header.header-mobile .mob-3-btns ul li.repair:hover span.img img{margin-top: -18px;}

	header.header-mobile .mob-3-btns ul li.buy:hover span.img img{margin-top: -23px;}

	header.header-mobile .mob-3-btns ul li.wholesale:hover span.img img{margin-top: -26px;}



  .listing-row .listing-items {

    width: 45%;

    float:left !important;

  }

  .product-listing  .listing-col {

    width: 45%;

    float:left !important;

  }
  .listing-items .related-product h4{
    height:100px !important;
  }

}



@media only screen and (max-width: 350px) {



  .packageTable .inc-dec-btn {

    display:none;

  }

  .packageTable tr th {

    font-size:14px;

  }

  .packageTable .btn-success{

    font-size: 10px !important;

    padding: 4px 4px !important;

  }

  .packageTable .blackSpinner .form-control {

    width:60px !important;

    height:35px !important;

  }

	header.header-mobile a.logo {

		margin:10px 0px 0px 28px !important;

	}

	header.header-mobile a.logo img {

		max-width:130%;

	}

	header.header-mobile .mob-logo-menus nav.mob-menu-class .navbar-collapse .other-nav li {

		display:inline-block !important;	

	}

	header.header-mobile .mob-logo-menus nav.mob-menu-class .navbar-collapse .other-nav {

		text-align:center;	

	}

	header.header-mobile .mob-logo-menus nav.mob-menu-class .navbar-collapse .navbar-nav .open .dropdown-menu li a {

		padding:5px 70px;	

	}

	header.header-mobile .mob-logo-menus nav.mob-menu-class .navbar-collapse .navbar-nav .open .dropdown-menu .dropdown-submenu .dropdown-menu li a {

		padding:5px 90px;	

	}

	header.header-mobile .mob-logo-menus nav.mob-menu-class .navbar-collapse .navbar-nav .open .dropdown-menu .dropdown-submenu .dropdown-menu .dropdown-submenu li a {

		padding:5px 110px;

	}

	header.header-mobile .mob-3-btns ul li {

		display:block;

		text-align:center;	

	}

	header.header-mobile .mob-3-btns ul span.img {

		position:static;	

	}

	header.header-mobile .mob-3-btns ul li a {

		padding:12px;	

	}

}