$body-bgcolor: #b51414;
$body-text-color: #000000;
$link-color: #404040;
$link-visited-color: #404040;
$link-hover-color: #bdbdbd;
$link-active-color: #404040;

$header-bgcolor: #ffffff;
$header-text-color: #82746b;

$primary-nav-bgcolor: #000000;
$primary-nav-link-color: #FFF;

$secondary-nav-item-bgcolor: #ffffff;
$secondary-nav-link-color: #333333;


$button-bgcolor: #4e4e4e;
$button-text-color: #fafafa;
$input-bgcolor: #FFF;