<IfModule mod_rewrite.c>
RewriteEngine on

# You may need RewriteBase on some servers
RewriteBase /wx

# rewrite URLs like "/min/f=..." to "/min/?f=..."
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^([^?]*) min.php?_route_=$1 [L,QSA]
</IfModule>
<IfModule mod_env.c>
# In case AddOutputFilterByType has been added
SetEnv no-gzip
</IfModule>
