<?php
define('OPTIMIZER_MINIFY_HTML', FALSE);        // TRUE/FALSE - OUTPUT SHOULD MINIFY HTML CONTENT
define('OPTIMIZER_MINIFY_CSS', FALSE);        // TRUE/FALSE - OUTPUT SHOULD MINIFY CSS
define('OPTIMIZER_MINIFY_JAVASCRIPT', FALSE);        // TRUE/FALSE - OUTPUT SHOULD MINIFY JS
define('OPTIMIZER_JAVASCRIPT_DEFER', FALSE);        // TRUE/FALSE - JAVASCRIPT SHOULD BE DEFERED
define('OPTIMIZER_MINIFY_ENCODE_URL', FALSE);        // TRUE/FALSE - MINIFY URLS SHOULD BE ENCODED
define('OPTIMIZER_JAVASCRIPT_JQUERY', FALSE);        // TRUE/FALSE - MINIFY URLS SHOULD BE ENCODED
define('OPTIMIZER_JAVASCRIPT_JQUERY_VERSION', FALSE);        // TRUE/FALSE - MINIFY URLS SHOULD BE ENCODED
define('OPTIMIZER_JAVASCRIPT_JQUERYUI', FALSE);        // TRUE/FALSE - MINIFY URLS SHOULD BE ENCODED
define('OPTIMIZER_JAVASCRIPT_JQUERYUI_VERSION', FALSE);        // TRUE/FALSE - MINIFY URLS SHOULD BE ENCODED
define('OPTIMIZER_PAGE_CACHED_ROUTES', '["module\/boss_megamenu"]');        // CACHED ROUTES
define('OPTIMIZER_PAGE_CACHED_EXPIRES', '"86400"');        // CACHED ROUTES EXPIRTY TIMEOUT
define('WX_CDN_STATUS', FALSE);        // TRUE/FALSE - CDN GLOBALLY ON/OFF
define('WX_CDN_HTTP', 'http://cdn.phonepartsusa.com');        // CDN HTTP URL
define('WX_CDN_HTTPS', 'https://phonepartsusacom-wxhost.netdna-ssl.com');        // CDN HTTPS URL
define('WX_CDN_IMAGES', FALSE);        // TRUE/FALSE - CDN SERVE IMAGES
define('WX_CDN_CSS', FALSE);        // TRUE/FALSE - CDN SERVE CSS
define('WX_CDN_JS', FALSE);        // TRUE/FALSE - CDN SERVE JS
define('OPTIMIZER_EXCLUDED_ROUTES', '[]');        // CACHED ROUTES
define('WX_PAGE_CACHING', FALSE);   // TRUE/FALSE - FULL PAGE CACHING ON/OFF
define('WX_PAGE_EXPIRES', 0);	      // CACHE EXPIRY
define('PC_DESKTOP_TYPE', 'desktop');   // CACHING PREFIX LOAD TYPE FOR DESKTOPS
define('PC_MOBILE_TYPE', 'mobile');     // CACHING PREFIX LOAD TYPE FOR MOBILE
define('PC_TABLET_TYPE', 'disabled');     // CACHING PREFIX LOAD TYPE FOR TABLETS
define('PC_TV_TYPE', 'disabled');             // CACHING PREFIX LOAD TYPE FOR TV
define('WX_STORE_DATA', '{"phonepartsusa.com":{"store_id":0,"url":"phonepartsusa.com","config_language":"en","config_currency":"USD"}}');        // JSON ARRAY OF STORE IMPORTANT STORE CONFIG DATA
