/* Reset */
html, body, ul, ol, li, p,h1, h2, h3, h4, h5, h6,form, fieldset, a {margin: 0;padding: 0;border: 0;}
a img{border:none;}
a{color:#272727;font-size:12px;cursor:pointer;}
	a:hover{color:#666;}
	a:active{outline: none;}
	a:focus,select{outline:none;}
.clear{clear:both;}
p{font-size:13px; line-height:1.6em; color:#666; margin:5px 0;}
img{ border:0; vertical-align:top;}
ul{list-style:none;}
th,td{padding:2px;}
body{background:#f4f4f4;font-size: 100.01%; font-family:tahoma,Helvetica,sans-serif;}
ul,ol{list-style:none;}
caption,th,td{font-weight:normal;text-align:left;}
textarea:focus, input:focus{outline: none;}
.buttons .right a.colorbox{background:none;color:#333;text-decoration:underline;padding:0;text-shadow:none;}
input[type="button"],label{cursor:pointer;}
header, footer, article, section, nav { display: block; }
body, td, th, input, textarea, select, a {font-size: 12px;}
form {padding: 0;margin: 0;display: inline;}
input[type='text'], input[type='password'], textarea {background: #fff;border: 1px solid #e6e6e6;padding:6px;margin-left: 0px;margin-right: 0px;margin-top:5px;}
input[type='text']:focus, input[type='password']:focus, textarea:focus{border:1px solid #ccc;}
select {background: #fff;border: 1px solid #CCCCCC;padding: 2px;}
label {cursor: pointer;}

/* layout */
#container {width: 960px;margin:0 auto;}
#column-left {float: left;width:200px;margin-bottom:15px;}
#column-right {float: right;width: 200px;margin-bottom:15px;}
#content {min-height: 400px;margin-bottom: 25px;}
#column-left + #column-right + #content, #column-left + #content {margin-left: 213px;}
#column-right + #content {margin-right: 213px;}

body.home #content,body.home #column-left,body.home #column-right{margin-top:15px;}

/* Top Bar */
#top{background:#fff url('../image/topBg.jpg') bottom repeat-x;line-height:28px;border:1px solid #e6e6e6;border-top:0;padding:0 15px;margin-bottom:15px;}
	#top p{margin:0;line-height:28px;}
	#top #welcome{float:left;width:auto;}
	#top .links{float:right;width:auto;}
	 #top .links > li{display:block;float:left;background:url('../image/sep.jpg') no-repeat left;padding-left:2px;position:relative;}
	 li.phone{padding:0 10px !important;}
	 	li.phone span{background:#ff5555 url('../image/phone.png') no-repeat left;display:inline-block;width:12px;height:28px;float:left;margin-right:8px;}
			#top .links > li.phone a{background:none;padding:0;}
			#top .links > li.phone a:hover{background:none;}
	 	#top .links > li > a{background:url('../image/linksArrow.png') no-repeat right;display:block;float:left;line-height:28px;padding:0 20px 0 10px;text-decoration:none;}
			#top .links li:hover > a{background-color:#fff;}
			#top .links li > ul{position:absolute;top:28px;z-index:1000;background:#fff;width:125px;border:1px solid #e6e6e6;left:0px;border-top:0;padding:0;display:none;}
			#top .links #currency{left:-46px;}
				#top .links li > ul li{background:none;border-bottom:1px solid #e6e6e6;display:block;}
					#top .links li > ul li a{line-height:normal;color:#666;display:block;padding:6px 10px; text-decoration:none;}
						#top .links li > ul li a:hover{background:#f33;color:#fff;}
						#top .links li > ul li a.active{font-weight:bold;}

/* header */
header{background:#fff url('../image/header.jpg') top repeat-x;border:1px solid #e6e6e6;padding:20px 15px 10px;position:relative;}
	/* Logo */
	h1#logo,#logo{float:left;width:auto;}
	
	/* Facebook Twitter */
	.hshare{background:#fff url('../image/boxTopBg.png') repeat-x center; border:1px solid #e6e6e6;width:330px;position:absolute;top:25px;left:280px;padding:5px 0 0 23px;line-height:20px;height:26px;border-radius:6px;}
		.hshare span{float:left;width:auto;color:#666;}
	header .fb-like,header .twitter-share-button{margin-left:15px;float:left;width:auto;}
	header .twitter-share-button{width:95px !important;}
	header .pin-it-button{float:left;width:auto;}
	
	/* Promo Image */
	.promo-img{float:right;width:auto;}
	
	/* Search by categories */
	#search-cart{background:#333;padding:10px 15px;border-bottom:1px solid #242424;}
		#search-cart .searchBox{background:#fff;width:514px;float:left;line-height:34px;border:1px solid #242424;}
			#search-cart .searchBox input{padding:5px 0 7px 14px;color: #666;font-weight: bold;font-size: 12px;float: left;
width: 310px;border: 0;}
			#search-cart .searchBox .selectCat{background:url('../image/search_sep.jpg') no-repeat left;float:left;width:170px;position:relative;padding-left:20px;font-size:12px;color:#666;font-weight:bold;}
			.selectCat ul{display:none;}
					ul.cat-list{width:187px;left: 1px;background:#fff;position: absolute;top: 34px;z-index: 1000;border:1px solid #e6e6e6;}
						ul.cat-list li{padding:8px 19px;cursor:pointer;line-height:normal;border-bottom:1px solid #e6e6e6;color:#666;font-weight:normal;font-size:13px;}
							ul.cat-list li:hover{background:#ff3333;color:#fff;}
							
						span.selected-cat{cursor:pointer;display:block;background:url('../image/dropArrow.jpg') no-repeat right;}
			#search-cart a#button{background:#333 url('../image/1px.png') no-repeat top;display:block;float:left;border:1px solid #282828;color:#fff;line-height:34px;padding:0 25px;margin-left:3px;font-weight:bold;text-shadow: 1px 1px 1px #000;}
						#search-cart a#button:hover{background-color:#3a3a3a;text-shadow: 1px -1px 1px #000;}
	
	/* Mini Cart */
	#cart{float:right;width:auto;background:#333 url('../image/1px.png') no-repeat top;border:1px solid #242424;color:#fff;line-height:33px;position:relative;}
		#cart h4{background:url('../image/cartIcon.png') no-repeat left;padding:0 15px 0 25px;float:left;width:auto;margin-left:10px;text-shadow: 1px 1px 1px #000;}
			#cart-total{background:url('../image/minicart-sep.png') no-repeat left;padding-left:15px;display:block;float:left;width:auto;text-shadow: 1px 1px 1px #000;color:#d6d6d6;}
				#cart-total span{color:#fff;font-size:15px;font-weight:bold;}
			.view-cart{background:#FF3333 url('../image/1px.png') no-repeat top;color:#fff;border:1px solid #242424;text-decoration:none;padding:3px 8px;margin:0 10px;font-size:10px;font-weight:bold;}
				.view-cart:hover{background-color:#333;color:#fff;}
			#cart.active .content{display:block;}
	
	/* Category Navigation */
	nav{background:#333 url('../image/1px.png') no-repeat top;height:47px;}
		.menu2{display:none;}
		#menu {padding:0 15px;float:left;list-style: none;margin: 0;}
			#menu > li {position: relative;float: left;z-index: 20;}
					#menu > li > a {font-size:12px;color:#666;display: block;z-index: 6;position: relative;text-decoration:none;line-height:47px;padding:0 12px;text-shadow: 1px 1px 1px #222;font-weight:bold;}
					#menu > li:hover > a{background:#333 url('../image/1px.png') no-repeat top;}
							#menu > li.parent:hover > a{box-shadow:11px 2px 14px -12px #000;-webkit-box-shadow:11px 2px 14px -12px #000;-moz-box-shadow:11px 2px 14px -12px #000;}
								@-moz-document url-prefix() { 
										#menu > li.parent:hover > a{box-shadow:11px 2px 14px -12px #000;-webkit-box-shadow:11px 2px 14px -12px #000;-moz-box-shadow:11px 2px 10px -12px #000;}
								}
						
						#menu > li > a.active{color:#fff;}
						#menu > li > a.home{padding-left:0;background:url('../image/home-icon.png') no-repeat bottom;width:20px;height:47px;text-indent:-9999px;overflow:hidden;padding-right:10px;}
							#menu > li > a.home.active{background-position:top;}
							#menu > li > a.home:hover{background-position:top;background-color:none !important;box-shadow:none;}
						#menu > li:hover > a {color:#fff}
		#menu > li > div {display: none;background: #FFFFFF;position: absolute;z-index:5;background:#333;box-shadow:2px -5px 46px -9px #000;-webkit-box-shadow:2px -5px 46px -9px #000;-moz-box-shadow:2px -5px 46px -9px #000;}
			#menu > li:hover > div {display: table;}
				#menu > li > div > ul {display: table-cell;}
				#menu > li > div > ul > li > a{padding:8px 15px;}
					#menu > li ul + ul {padding-left: 20px;}
						#menu > li ul > li > a {text-decoration: none;padding: 4px;color:#666;display: block;white-space: nowrap;min-width: 120px;}
						#menu > li > div > ul > li > a {color:#666;font-weight:bold;text-shadow: 1px 1px 1px #222;}
							#menu > li ul > li > a:hover {background: #282828;color:#fff;}
								
/* Mini Cart */
#cart .content{display:none;position:absolute;top:34px;left:-1px;background:#333;border:1px solid #242424;z-index:1000;width:100%;}
	.mini-cart-info{padding:5px 5px 0;}
		.mini-cart-info table {border-collapse: collapse;width: 100%;line-height:normal;}
			.mini-cart-info table tr{background:#fff;}
				.mini-cart-info td {color:#666;padding:5px;border-bottom: 1px solid #333;font-weight:bold;}
					.mini-cart-info td a{color:#666;font-size:12px;}
		.mini-cart-info .image {width: 1px;}
				.mini-cart-info .image img {border: 1px solid #e6e6e6;text-align: left;}
		.mini-cart-info .name small {color: #666;}
			.mini-cart-info .quantity {text-align: right;}
			.mini-cart-info td.total {text-align: right;}
			.mini-cart-info .remove {text-align: right;}
				.mini-cart-info .remove img {cursor: pointer;position:relative;top:4px;}
		.mini-cart-total {text-align: right;border:1px solid #282828;border-top:0;margin:0 5px;}
			.mini-cart-total table {border-collapse: collapse;display: inline-block;padding:10px 21px 0 10px;}
				.mini-cart-total table tr{line-height:normal;}
					.mini-cart-total td {font-weight:bold;padding-bottom:10px;text-align:left;color:#888}
					.mini-cart-total td.right{text-align:right;padding-right:10px;color: #666;}
		#cart .empty{padding:5px 15px;color:#333;background:#fff;margin:5px;}
			#cart .content ul.checkout{padding:5px 25px 5px}
				#cart .content li.vCart,#cart .content li.checkoutBtn{float:right;}
					#cart .content li.vCart a,#cart .content li.checkoutBtn a{color:#fff;text-decoration:none;display:inline-block;padding:5px 10px;line-height:normal;border-radius:8px;-webkit-border-radius:8px;-moz-border-radius:8px;}
						#cart .content li.vCart a:hover,#cart .content li.checkoutBtn a:hover{text-decoration:underline;}
			#cart .content ul.checkout{float:right;width:auto;}
				#cart .content li.vCart a{background:#282828;margin-right:10px;}
				#cart .content li.checkoutBtn a{background:#f33;}


/* menu */
.breadcrumb {background:#fff url('../image/breadcrumb.jpg') repeat-x bottom;padding:0 15px;line-height:30px;color:#666;margin-bottom: 15px;border:1px solid #e6e6e6;border-top:0;}
	.breadcrumb a{text-decoration:none;}
.success, .warning, .attention, .information {padding: 10px 10px 10px 33px;color: #fff;}
.success {	background:#82BD6C url('../image/success.png') 10px center no-repeat;}
.warning {background:#E25E52 url('../image/warning.png') 10px center no-repeat;}
.attention {background: #FFF5CC url('../image/attention.png') 10px center no-repeat;border: 1px solid #F2DD8C;}
.success .close, .warning .close, .attention .close, .information .close {float: right;padding-top: 4px;padding-right: 4px;
cursor: pointer;}
.required {color: #f33;font-weight: bold;}
.error {display: block;	color: #f33;}
	.product_page .error{padding:0 0 15px 15px;}
.help {color: #999;	font-size: 10px;	font-weight: normal;font-family: Verdana, Geneva, sans-serif;display: block;}
table.form {width: 100%;border-collapse: collapse;margin-bottom: 20px;}
table.form tr td:first-child {width: 150px;}
table.form > * > * > td {color: #000000;}
table.form td {	padding: 4px;}
input.large-field, select.large-field {	width: 300px;}
table.list {	border-collapse: collapse;	width: 100%;border-top: 1px solid #DDDDDD;border-left: 1px solid #DDDDDD;
	margin-bottom: 20px;}
table.list td {border-right: 1px solid #DDDDDD;border-bottom: 1px solid #DDDDDD;}
table.list thead td {background-color: #EFEFEF;	padding: 0px 5px;}
table.list thead td a, .list thead td {	text-decoration: none;color: #222222;font-weight: bold;}
table.list tbody td {vertical-align: top;padding: 0px 5px;}
table.list .left {	text-align: left;padding: 7px;}
table.list .right {text-align: right;padding: 7px;}
table.list .center {text-align: center;padding: 7px;}
table.radio {width: 100%;border-collapse: collapse;}
table.radio td {padding: 5px;vertical-align: top;}
table.radio td label {display: block;}
table.radio tr td:first-child {width: 1px;}
table.radio tr td:first-child input {margin-top: 1px;}
table.radio tr.highlight:hover td {background: #F1FFDD;cursor: pointer;}
.pagination {padding-top: 8px;display: inline-block;width: 100%;margin-bottom: 10px;}
.pagination .links {text-align:center;}
.pagination .links a {display: inline-block;border: 1px solid #EEEEEE;padding: 4px 10px;text-decoration: none;color: #A3A3A3;
}
.pagination .links b {display: inline-block;border: 1px solid #269BC6;padding: 4px 10px;font-weight: normal;text-decoration: none;color: #269BC6;background: #FFFFFF;}
.pagination .results {float: right;padding-top: 3px;}

/* button */
a.button, input.button {cursor: pointer;color: #FFFFFF;line-height: 12px;font-size: 12px;font-weight: bold;background:#F33 url('../image/button.png') top left repeat-x;border:1px solid #F33 !important;-webkit-border-radius: 7px 7px 7px 7px;-moz-border-radius: 7px 7px 7px 7px;-khtml-border-radius: 7px 7px 7px 7px;border-radius: 7px 7px 7px 7px;text-shadow: 1px 1px 1px #333;}
a.button {display:inline-block;text-decoration:none;padding:6px 12px 6px 12px;}
input.button {margin: 0;border: 0;padding:6px 15px;}
@-moz-document url-prefix() { 
  input.button {margin: 0;border: 0;padding:3px 15px;}
}
a.button:hover, input.button:hover {background-position:bottom;text-shadow: 1px -1px 1px #333;}
.buttons {background: #FFFFFF;border: 1px solid #EEEEEE;overflow: auto;padding: 6px;margin-bottom: 20px;}
.buttons .left {float: left;text-align: left;}
.buttons .right {float: right;text-align: right;}
.buttons .center {text-align: center;margin-left: auto;margin-right: auto;}

/* Slideshow */
.slideshow{border:1px solid #e6e6e6;border-bottom:0;}
	.slideNav{background:#333;margin-bottom:15px;height:36px;position:relative;z-index:1000;}
	.slideNav li{float:left;}
	.slideNav li a{background: url('../image/minicart-sep.png') no-repeat right;display:block;line-height:36px;text-decoration:none;color:#fff;text-align:center;font-weight:bold;color:#666;text-shadow:1px -1px 1px #222;}
		.slideNav li a:hover{color:#fff}
		.slideNav li.flex-active a{background:#f33;background-image:none;color:#fff;text-shadow:none;}
		.flex-direction-nav a{ background: url('../image/bg_direction_nav.png') no-repeat 0 0;}

	 /* Featured Categories */
	 .featured-categories ul{float:left;}
	 .featured-categories > li,.box-product > li{width:168px;padding-right:9px;display:inline-block;margin-bottom:15px;vertical-align:top;}
	 #column-left .box-product{height:162px !important;}
		 .featured-categories > li a{display:inline-block;}
	 	 .featured-categories > li img{border:1px solid #e6e6e6;border-width:1px 1px 2px 1px;}
	 	.featured-categories .parent-cat{color:#F33;font-size:14px;text-decoration:none;display:block;padding:5px 0;}
			.featured-categories .parent-cat:hover{color:#333;}
			.featured-children li{padding-bottom:8px;}
				.featured-children li a{background:url('../image/arrowBullet.jpg') no-repeat top left;color:#666;padding-left:12px;text-decoration:none;}
					.featured-children li a:hover{color:#272727;}
				
		/* Sidebar Featured Categories */
			#column-left .featured-cat .box-content{padding:0;border-bottom:1px solid #e6e6e6;}
			#column-left .featured-categories li{position:relative;margin:0;width:100%;display:block;padding:0;border:0;}
				#column-left .featured-categories li{border-bottom:1px solid #e6e6e6;}
			#column-left .featured-categories > li a{background:none;padding:0 15px;line-height:30px;display:block;color:#888;font-size:12px;font-weight:bold;}
				#column-left .featured-categories  li:hover > a{background:#f33;color:#fff;}
			#column-left .featured-categories li > a > img{display:none;}
				#column-left .featured-categories li > ul{position:absolute;top:0;right:-198px;z-index:10000;background:#fff;width:100%;}		
				#column-left .featured-categories li ul{display:none;}
					#column-left .featured-categories li ul li a{border:1px solid #e6e6e6;border-width:0 1px;}
						#column-left .featured-categories li.cat-img a{border:0;}
						#column-left .featured-categories li.cat-img img{display:block;}
						#column-left .featured-categories li.cat-img a{padding:15px;background:#f33;}
							#column-left .featured-categories li.cat-img a:hover{}
					
		/* Sidebar Module */
		#column-left  .box-product > li,#column-right  .box-product > li{padding:0;}
			#column-left .box-content,#column-right .box-content{padding:15px;}
			#column-left .cart,column-right .cart{text-align:center;}
				#column-left .box-product .image img,#column-left .box-product .image img{border:none;}
					#column-left .box-product .name,#column-left .box-product .price,#column-right .box-product .name,#column-right .box-product .price{text-align:center;}
						#column-left .box-product .image a,#column-right .box-product .image a{text-align:center;display:block;}
			
			#imageNav{text-align:center;padding-top:10px;}
				#imageNav a{text-indent:-9999px;overflow:hidden;width:10px;height:10px;background:#fff;border:1px solid #c3c3c3;display:inline-block;margin-right:5px; border-radius: 50%;}
					#imageNav a.activeSlide{background:#f33;border:1px solid #f33;}
	
	
	/* Information Content */
	.info-content{background:#fff;border:1px solid #e6e6e6;border-width:0 1px 2px;padding:15px;margin-bottom:10px;}
	.info-content h2{font-size:14px;color:#333;margin-bottom:5px;}
	b{color:#333;}
	
	/* Welcome Module */
	.welcome{padding:15px;border:1px solid #e6e6e6;border-width:1px 1px 2px;color:#333;margin-bottom:15px;background:#fff;}
		.welcome .content{border-bottom:1px solid #e6e6e6;padding-bottom:10px;margin-bottom:10px;}
			.welcome .content:last-child{border:0;padding:0;margin:0;}
				.welcome .content img{float:right;margin:3px;width:35px;height:35px;}

/* box */
.box {margin-bottom:15px;}
.box .box-heading,.box-heading{border: 1px solid #e3e3e3;background:#f33 url('../image/boxTopBg.png') repeat-x;line-height:44px;color:#333;padding:0 15px;}
.box .box-heading h2,.box-heading h1,.box-heading h2,.search-heading{padding-left:15px;font-size:15px;}
.box .box-content {background: #FFFFFF;border:1px solid #e3e3e3;border-width:0 1px 2px;padding:15px 0 0 15px;}
/* box products */
.box-product .image {display: block;margin-bottom: 0px;width:170px;}
.box-product .image img {border: 1px solid #e6e6e6;border-width:1px 1px 2px 1px;}
.box-product .name a,.name a {color: #272727;font-size:12px;text-decoration: none;display: block;padding:5px 0;font-weight:bold;}
	.box-product .name a:hover,.name a:hover{color:#666;}
.price{font-family:"Trebuchet MS"}
.box-product .price {display:block;font-size:12px;color:#F33;font-weight:bold;padding-bottom:5px;}
.box-product .price-old {color:#888;text-decoration: line-through;}
.box-product .price-new {font-weight: bold;}
.box-product .rating {display: block;margin-bottom: 4px;}
.box-product .cart{}

/* box category */
.box-category {}
.category-content{border:1px solid #e6e6e6;background:#fff;border-width:0 1px 2px 1px;}
.box-category ul {list-style: none;margin: 0;padding: 0;}
.box-category > ul > li > ul{padding:6px 0 12px;background:url('../image/subCatBg.jpg') no-repeat bottom;}
	.box-category > ul > li > ul li a{background:url('../image/arrowBullet.jpg') no-repeat top left;padding:0 0 5px 10px;color:#666;}
		.box-category > ul > li > ul li a:hover{color:#272727;}		
.box-category > ul > li + li {border-top: 1px solid #EEEEEE;}
.box-category > ul > li > a {text-decoration: none;	color: #333;padding:0 15px;line-height:30px;display:block;font-weight:bold;color:#888;position:relative;}
	.box-category > ul > li > a span.dropdown{background:url('../image/cat-arrow.png') no-repeat top right;width:10px;height:30px;text-indent:-9999px;overflow:hidden;position:absolute;right:10px;}
	.box-category > ul > li:hover > a,.box-category > ul > li:hover > a.active{background:#F33;color:#fff;}
		.box-category > ul > li:hover > a span.dropdown,.box-category > ul > li:hover > a span.dropdown,.box-category > ul > li a.active span.dropdown{background-position:bottom;}
.box-category > ul > li ul {display: none;}
.box-category > ul > li a.active {font-weight: bold;background:#f33;color:#fff;}
.box-category > ul > li a.active + ul {display: block;}
.box-category > ul > li ul > li {padding: 5px 5px 0px 10px;}
.box-category > ul > li ul > li > a {text-decoration: none;	display: block;}
.box-category > ul > li ul > li > a.active {font-weight: bold;}

/* content */
#content .content {padding: 10px;overflow: auto;margin-bottom: 20px;border: 1px solid #e6e6e6;}
#content .content .left {float: left;width: 49%;}
#content .content .right {float: right;width: 49%;}

/* category */
.category-info {overflow: auto;background:#fff;border:1px solid #e6e6e6;border-top:0;padding:15px;}
.category-info .image {float: left;padding: 5px;margin-right: 15px;border: 1px solid #e6e6e6;}

/* Refine Search */
.refine-search{background:#fff;border:1px solid #e6e6e6;border-top:0;padding:15px}
.refine-search h2{font-size:13px;color:#666;padding-bottom:5px;}
.category-list {overflow: auto;}
.category-list ul {float: left;width: 18%;}
	.category-list li{padding-bottom:5px}
	.category-list ul li a{text-decoration:none;background:url('../image/arrowBullet.jpg') no-repeat left;padding-left:12px;color:#666;}
		.category-list ul li a:hover{color:#333;}
		
/* Category Sort */
.product-filter {overflow: auto;background:#fff url('../image/boxTopBg.jpg') repeat-x bottom;padding:8px 15px;border:1px solid #e6e6e6;border-top:0;}
.product-filter .display {margin-right: 15px;float: left;padding-top: 4px;color: #333;}
.product-filter .display a {font-weight: bold;}
.product-filter .sort {float: right;color: #333;}
.product-filter .limit {margin-left: 15px;float: right;color: #333;}
.product-compare {font-weight: bold;}
.product-compare a {text-decoration: none;font-weight: bold;display:inline-block;padding-top:4px;}

.drop{background:#fff url('../image/cat-arrow.png') no-repeat right;border:1px solid #e6e6e6;width:75px;padding:0 0 0 8px;float:left;position:relative;}
	.drop > a{text-decoration:none;display:block;background:url('../image/sortArrow.jpg') no-repeat right;line-height:24px;display:block;}
	.drop > ul{display:none;position:absolute;left:-1px;top:25px;background:#fff;text-align:center;border:1px solid #ccc;width:83px;border-top:0;}
		.drop > ul li a{text-decoration:none;display:block;border-bottom:1px solid #e6e6e6;padding:5px 0;color:#666}
			.drop > ul li a:hover{background:#f33;color:#fff;}
			

/* manufacturer */
.manufacturer-list {border: 1px solid #DBDEE1;padding: 5px;overflow: auto;margin-bottom: 20px;}
.manufacturer-heading {background: #F8F8F8;font-size: 15px;font-weight: bold;padding: 5px 8px;margin-bottom: 6px;}
.manufacturer-content {padding: 8px;}
.manufacturer-list ul {float: left;width: 25%;margin: 0;padding: 0;list-style: none;margin-bottom: 10px;}

/* product */
.product-list,.noprod{background:#fff;border:1px solid #e6e6e6;border-top:0;padding:15px;}
.product-list li {   height: 130px \0/; }
.product-list > li {margin-bottom: 15px;overflow:auto;}
.product-list .right {float: right;margin-left: 15px;}
.product-list > li + li {border-top: 1px solid #e6e6e6;padding-top: 16px;}
.product-list .image {float: left;margin-right: 10px;}
.product-list .image img {padding: 3px;border: 1px solid #E7E7E7;}
.product-list .name {margin-bottom: 3px;}
.product-list .name a {font-weight: bold;text-decoration: none;}
.product-list .description {line-height: 15px;margin-bottom: 5px;color: #4D4D4D;}
.product-list .rating {color: #7B7B7B;}
.product-list .price {float: right;height: 50px;margin-left: 8px;text-align: right;color:#F33;font-size: 12px;font-weight:bold;}
.product-list .price-old {color:#888;text-decoration: line-through;font-weight:bold;}
.product-list .price-new {font-weight: bold;}
.product-list .price-tax {font-size: 12px;font-weight: normal;color: #BBBBBB;}
.product-list .cart {margin-bottom: 3px;text-align:center;}
.product-list .wishlist, .product-list .compare {margin-bottom: 3px;}
.product-list .wishlist a {color: #333333;text-decoration: none;padding-left: 10px;display: block;background: url('../image/arrowBullet.jpg') left center no-repeat;text-align:center;}
.product-list .compare a {color: #333333;text-decoration: none;padding-left: 10px;display: block;background: url('../image/arrowBullet.jpg') left 60% no-repeat;text-align:center;}
.product-grid {background:#fff;border:1px solid #e6e6e6;border-top:0;padding:15px 0 0 15px}
.product-grid > li {width: 168px;display: inline-block;vertical-align: top;margin-right: 9px;margin-bottom: 15px;}
#column-left + #column-right + #content .product-grid > div {width: 125px;}
.product-grid .image {display: block;margin-bottom: 0px;}
.product-grid .image img {border: 1px solid #e6e6e6;}
.product-grid .name a {font-weight: bold;text-decoration: none;display: block;margin-bottom: 4px;}
.product-grid .description {display: none;}
.product-grid .rating {display: block;margin-bottom: 4px;}
.product-grid .price {display: block;font-weight: bold;color: #f33;margin-bottom: 4px;}
.product-grid .price-old {color:#888;text-decoration: line-through;}
.product-grid .price-new {font-weight: bold;}
.product-grid .price .price-tax {display: none;}
.product-grid .cart {margin-bottom: 3px;}
.product-grid .wishlist, .product-grid .compare {margin-bottom: 3px;}
.product-grid .wishlist a {color: #333333;text-decoration: none;padding-left: 10px;	display: block;background: url('../image/arrowBullet.jpg') left center no-repeat;margin-top:5px;}
.product-grid .compare a {color: #333333;text-decoration: none;padding-left: 10px;display: block;background: url('../image/arrowBullet.jpg') left center no-repeat;}

/* Product */
.product-info {overflow: auto;margin-bottom: 20px;}
.product-info > .left {float: left;margin-right: 15px;}
.product-info > .left + .right {margin-left: 265px;}

/* Product tabs */
ul.product-tab{background:#fff url('../image/boxTopBg.jpg') repeat-x bottom;line-height:44px;border:1px solid #e6e6e6;border-bottom:0;float:left;width:100%;}
@-moz-document url-prefix() { 
	ul.product-tab{height:44px;float:none;}
}
	ul.product-tab li{float:left;width:auto;}
		ul.product-tab li a{background:url('../image/tabArrow.png') no-repeat bottom left;text-decoration:none;font-size:14px;color:#a4a4a4;font-weight:bold;padding:0 25px 0 30px;display:inline-block;border-right:1px solid #e6e6e6;}
			ul.product-tab li a.active{background-color:#f33;background-position:top left;color:#333;position:relative;top:2px;}
				ul.product-tab li a em{font-size:10px;font-style:normal;}
					ul.product-tab li a:hover{color:#666;}

.tab-content{display:none;background:#fff;padding:15px;border:1px solid #e6e6e6;overflow:auto;margin-bottom:15px;}
.tab-content:nth-of-type(1){display:block;}
	@-moz-document url-prefix() { 
		.tab-content{overflow:inherit;}
}


.product-info h1,#description h2.heading{font-size:16px;color:#333;}
	#description h2.heading{border-bottom:1px solid #e6e6e6;padding-bottom:8px;margin-bottom:8px;}
	p.short-desc{color:#909090;font-size:13px;}
.product-info .image {border: 1px solid #E7E7E7;float: left;margin-bottom: 20px;padding: 10px;text-align: center;}
.product-info .image-additional {width: 260px;margin-left: -10px;clear: both;overflow: hidden;}
.product-info .image-additional img {border: 1px solid #E7E7E7;}
.product-info .image-additional a {float: left;display: block;margin-left: 10px;margin-bottom: 10px;}
.product-info .description {margin:10px 0;line-height: 20px;color: #4D4D4D;}
.product-info .description span {color: #666;font-weight:bold;}
.product-info .description a {color: #4D4D4D;text-decoration: none;}
.product-info .price {overflow: auto;font-weight: bold;color: #f33;font-family:tahoma, Helvetica, sans-serif}
.product-info .price-old {color: #666;text-decoration: line-through;}
.product-info .price-new {color:#f33 !important;}
.product-info .price-tax {font-size: 12px;font-weight: normal;color: #999 !important;}
.product-info .reward {font-size: 12px;font-weight: normal;color: #999;display:block;}
	.product-info .share{border-top: 1px solid #e6e6e6;padding-top:10px;margin-top:10px;}

	.product-info .discount p.heading{background:#fff url('../image/boxTopBg.jpg') repeat-x bottom;border:1px solid #e6e6e6;padding:0 15px;line-height:44px;font-weight:bold;margin:0;}
		.product-info .discount ul{border:1px solid #e6e6e6;border-width:0 1px 2px;padding:5px 0;}
			.product-info .discount ul li{padding:5px 15px;color:#666;}
				.product-info .discount ul li span{font-weight:bold;}
					.product-info .discount ul li span.dPrice{color:#f33;}
.product-info .options {color: #666;margin-top:15px;}
	.options h2,h2#review-title{background:#f33 url('../image/boxTopBg.png') no-repeat left;font-size:14px;border-width:1px 0 1px 0;margin-top:10px;line-height:44px;font-weight:bold;margin:0;border:1px solid #e6e6e6;padding-left:30px;}
	.prod-options{border:1px solid #e6e6e6;border-top:0;border-bottom:0;padding-top:15px;}
	.option{padding:0 15px 15px;}
		.option p{float:left;width:160px;text-align:left;margin:0;}
		.option input{margin:0;}
			.option .radio,.option .checkbox{float:left;width:auto;line-height:20px;}
			.product-info .right .cart{border:1px solid #e6e6e6;padding:15px;background:#fff url('../image/boxTopBg.jpg') repeat-x bottom;}
				.product-info .right .cart div a{padding-top:5px;display:inline-block;}
				.product-info .right .cart input{border:1px solid #ccc;}
				
			.review-form{padding:15px;border:1px solid #e6e6e6;border-top:0;}
		
	
.product-info .option-image {margin-top: 3px;margin-bottom: 10px;}
.product-info .option-image label {display: block;width: 100%;height: 100%;}
.product-info .option-image img {margin-right: 5px;border: 1px solid #CCCCCC;cursor: pointer;}
.product-info .cart {padding:0;margin-bottom: 20px;color: #4D4D4D;overflow: auto;}
.product-info .cart div {float: left;vertical-align: middle;}
.product-info .cart div > span {padding-top:12px;display: block;color: #999;}
.product-info .cart div > a.wishlist,.product-info .cart div > a.compare{padding-top:4px;display:inline-block;}
.product-info .cart .minimum {padding-top: 5px;font-size: 11px;color: #999;clear: both;}
.product-info .review {color: #4D4D4D;margin-bottom: 10px;}
	.product-info .review a{text-decoration:none;}
.product-info .review > div {padding:8px 0;border-bottom: 1px solid #E7E7E7;}
.product-info .review > div > span {color: #38B0E3;}
.review-list {padding: 10px;overflow: auto;margin-bottom: 20px;border: 1px solid #EEEEEE;}
.review-list .author {float: left;margin-bottom: 20px;}
.review-list .rating {float: right;margin-bottom: 20px;}
.review-list .text {clear: both;}
.attribute {border-collapse: collapse;width: 100%;border-top: 1px solid #DDDDDD;border-left: 1px solid #DDDDDD;margin-bottom: 20px;}
.attribute thead td, .attribute thead tr td:first-child {color: #000000;font-size: 14px;font-weight: bold;background: #F7F7F7;
	text-align: left;}
.attribute tr td:first-child {color: #000000;font-weight: bold;text-align: right;width: 20%;}
.attribute td {padding: 7px;color: #4D4D4D;text-align: center;vertical-align: top;border-right: 1px solid #DDDDDD;border-bottom: 1px solid #DDDDDD;}
.compare-info {border-collapse: collapse;width: 100%;border-top: 1px solid #DDDDDD;border-left: 1px solid #DDDDDD;margin-bottom: 20px;}
.compare-info thead td, .compare-info thead tr td:first-child {color: #000000;font-size: 14px;font-weight: bold;background: #F7F7F7;text-align: left;}
.compare-info tr td:first-child {color: #000000;font-weight: bold;text-align: right;}
.compare-info td {padding: 7px;width: 20%;color: #4D4D4D;text-align: center;vertical-align: top;border-right: 1px solid #DDDDDD;
	border-bottom: 1px solid #DDDDDD;}
.compare-info .name a {font-weight: bold;}
.compare-info .price-old {font-weight: bold;color: #f00;text-decoration: line-through;}
.compare-info .price-new {font-weight: bold;}
/* wishlist */
.wishlist-info table {width: 100%;border-collapse: collapse;border-top: 1px solid #DDDDDD;border-left: 1px solid #DDDDDD;
	border-right: 1px solid #DDDDDD;margin-bottom: 20px;}
.wishlist-info td {padding: 7px;}
.wishlist-info thead td {color: #4D4D4D;font-weight: bold;background-color: #F7F7F7;border-bottom: 1px solid #DDDDDD;}
.wishlist-info thead .image {text-align: center;}
.wishlist-info tbody td{vertical-align:top;border-bottom:1px solid #DDD;}
.wishlist-info tbody .image img{border:1px solid #DDD;}
.wishlist-info tbody .image{text-align:center;}
.wishlist-info tbody .price s{color:red;}
.wishlist-info tbody .action img{cursor:pointer;}
.login-content{margin-bottom:20px;overflow:auto;}
.login-content .left{float:left;width:48%;}
.login-content .right{float:right;width:48%;}
.login-content .left .content,.login-content .right .content{min-height:190px;}
.order-detail{background:#EFEFEF;font-weight:700;}
.return-quantity{float:left;width:31%;}
.return-opened textarea{width:98%;vertical-align:top;}
.return-captcha{float:left;}
.wishlist-info thead .name,.wishlist-info thead .model,.wishlist-info thead .stock,.wishlist-info tbody .name,.wishlist-info tbody .model,.wishlist-info tbody .stock{text-align:left;}
.wishlist-info thead .quantity,.wishlist-info thead .price,.wishlist-info thead .total,.wishlist-info thead .action,.wishlist-info tbody .quantity,.wishlist-info tbody .price,.wishlist-info tbody .total,.wishlist-info tbody .action,.order-list .order-info,.return-list .return-info,.download-list .download-info{text-align:right;}
.order-list,.return-list,.download-list{margin-bottom:10px;}
.order-list .order-id,.return-list .return-id,.download-list .download-id{width:49%;float:left;margin-bottom:2px;}
.order-list .order-status,.return-list .return-status,.download-list .download-status{width:49%;float:right;text-align:right;margin-bottom:2px;}
.order-list .order-content,.return-list .return-content,.download-list .download-content{display:inline-block;width:100%;margin-bottom:20px;border-top:1px solid #EEE;border-bottom:1px solid #EEE;padding:10px 0;}
.order-list .order-content div,.return-list .return-content div,.download-list .download-content div{float:left;width:33.3%;}
.return-product,.return-detail{overflow:auto;margin-bottom:20px;}
.return-name,.return-model,.return-reason,.return-opened{float:left;width:31%;margin-right:15px;}

/* cart */
.cart-info table {width: 100%;margin-bottom: 15px;border-collapse: collapse;border-top: 1px solid #e6e6e6;border-left: 1px solid #e6e6e6;border-right: 1px solid #e6e6e6;}
.cart-info td {padding: 7px;}
.cart-info thead td{	color: #4D4D4D;font-weight: bold;background:url('../image/boxTopBg.jpg') repeat-x;border-bottom: 1px solid #e6e6e6;}
.cart-info thead .image {text-align: center;}
.cart-info thead .name, .cart-info thead .model, .cart-info thead .quantity {text-align: left;}
.cart-info thead .price, .cart-info thead .total {text-align: right;}
.cart-info tbody td {vertical-align:top;border-bottom: 1px solid #DDDDDD;}
.cart-info tbody .image img {border: 1px solid #DDDDDD;}
.cart-info tbody .image {text-align: center;}
.cart-info tbody .name, .cart-info tbody .model, .cart-info tbody .quantity {text-align: left;}
.cart-info tbody .quantity input[type='image'], .cart-info tbody .quantity img {position: relative;top: 4px;cursor: pointer;
}
.cart-info tbody .price, .cart-info tbody .total {text-align: right;}
.cart-info tbody span.stock {color: #F00;font-weight: bold;}
.cart-module > div {display: none;}
.cart-total {background:url('../image/boxTopBg.jpg') repeat-x bottom;border: 1px solid #e6e6e6;overflow: auto;padding:15px;margin-bottom: 15px;float:right;width:auto;}
.cart-total table {	float: right;border-bottom:1px solid #e6e6e6;padding-bottom:10px;}
.cart-total td {padding: 3px;text-align: right;font-size:16px;color:#333;font-family:"Trebuchet MS";}
	.cart-total .right .button{float: right;width: auto;margin-top: 15px;}

.cart-extra{float:left;width:72%;}
	.cart-extra h2{background:url('../image/boxTopBg.jpg') repeat-x;border:1px solid #e6e6e6;line-height:34px;padding:0 15px;margin:0;border-bottom:0;}
	
	body.shopping_cart .buttons .center{text-align:left;}

/* checkout */
.checkout-heading {background:url('../image/boxTopBg.jpg') repeat-x bottom;border: 1px solid #e6e6e6;padding: 8px;font-weight: bold;font-size: 13px;color: #555555;}
.checkout-heading a {float: right;margin-top: 1px;font-weight: normal;text-decoration: none;}
.checkout-content {	padding:15px;border:1px solid #e6e6e6;border-top:0;border-bottom:0;display: none;overflow: auto;}
.checkout-content .left {float: left;width: 48%;}
.checkout-content .right {float: right;width: 48%;}
.checkout-content .buttons {clear: both;}
.checkout-product table {width: 100%;border-collapse: collapse;border-top: 1px solid #DDDDDD;border-left: 1px solid #DDDDDD;
	border-right: 1px solid #DDDDDD;margin-bottom: 20px;}
.checkout-product td {padding: 7px;}
.checkout-product thead td {color: #4D4D4D;font-weight: bold;background-color: #F7F7F7;border-bottom: 1px solid #DDDDDD;}
.checkout-product thead .name, .checkout-product thead .model {text-align: left;}
.checkout-product thead .quantity, .checkout-product thead .price, .checkout-product thead .total {text-align: right;}
.checkout-product tbody td {vertical-align: top;border-bottom: 1px solid #DDDDDD;}
.checkout-product tbody .name, .checkout-product tbody .model {text-align: left;}
.checkout-product tbody .quantity, .checkout-product tbody .price, .checkout-product tbody .total {text-align: right;}
.checkout-product tfoot td {text-align: right;border-bottom: 1px solid #DDDDDD;}
.contact-info {overflow: auto;}
.contact-info .left {float: left;width: 48%;}
.contact-info .right {float: left;width: 48%;}
.sitemap-info {overflow: auto;margin-bottom: 40px;}
.sitemap-info .left {float: left;width: 48%;}
.sitemap-info .right {float: left;width: 48%;}

/* footer */ 
#footer {clear: both;overflow: auto;min-height: 100px;padding: 20px;border:1px solid #e6e6e6;background: #fff;}
#footer .footer-image{border-bottom:1px solid #e6e6e6;padding-bottom:15px;margin-bottom:15px;}
#footer .footer-image li{display:inline-block;width:302px;border-right:1px solid #e6e6e6;}
	#footer .footer-image li img{display:block;margin:0 auto;}
	#footer .footer-image li:last-child{border:none;}
#footer h3 {color: #555;font-size: 13px;margin-top: 0px;margin-bottom: 8px;}
#footer .column {float: left;width:20%;min-height: 100px;}
#footer .column ul {margin-top: 0px;}
#footer .column ul li {margin-bottom: 3px;color: #666;padding-bottom:4px;}
#footer .column a {	text-decoration: none;color: #666;display:block;}
#footer .column a:hover {text-decoration: underline;}
#powered {background:#333;color:#999;clear:both;padding:10px 20px;text-shadow:1px 1px 1px #222;}
	#powered a{color:#fff;}
	#powered p{float:left;width:auto;}
	#powered .credits{float:right;width:auto;}

/* banner */
.banner{background:#fff;border:1px solid #e6e6e6;border-width:1px 1px 2px;padding:15px;}
.banner div {text-align: center;width: 100%;}
.banner div img {margin-bottom:8px;}


@media screen and (max-width:320px) {
 #container{width:100%;}	
 #top{margin:0;border-bottom:0;}
 #welcome,.promo-img{display:none;}
 #top .links{float:left;}
 h1#logo, #logo{float:none;text-align:center;}
 #search-cart .searchBox{width:175px;margin-bottom:3px;}
 #cart{float:none;clear:both;margin-top:3px;}
 	#cart h4{width:0;padding:0 5px 0 25px;text-indent:-9999px;overflow:hidden;}
 	#cart-total{padding-left:22px;}
	.slideshow{display:none;}
	.box .box-content{padding:5px;}
	.featured-categories > li, .box-product > li,.box-product .image {width:142px;}
	.featured-children li{padding-right:15px;float:left;padding-bottom:8px;}
		.featured-categories li a:first-child{width:105px;}
 #search-cart .searchBox input{width:160px;}
 #search-cart .searchBox .selectCat,.hshare,#column-left,#column-right,.slideNav,nav{display:none;}
 	.menu2{background: #333 url('../image/1px.png') no-repeat top;height: 47px;display:block;}
		.menu2 .mainCat ul{display:none;}
			.menu2 .mainCat{position:relative;}
				.menu2 .mainCat ul{position:absolute;top:47px;background:#fff;z-index:1000;width:100%;}
				.menu2 .mainCat ul li a{border-bottom:1px solid #e6e6e6;}
					.menu2 .mainCat ul li a:hover{background:#f33;color:#fff;}
			.menu2 .mainCat a{color:#fff;text-decoration:none;font-size:14px;display:block;line-height:47px;color:#666;text-align:center;font-weight:bold;text-transform:uppercase;}
			.menu2 .mainCat a span{background:url('../image/linksArrow.png') no-repeat right;display:inline-block;text-indent:-9999px;overflow:hidden;padding-left:10px;width:15px;}
			
	
 #column-left + #column-right + #content, #column-left + #content,.box{margin:0;}
 .featured-categories > li, .box-product > li {padding-right:0;}
 	.featured-categories > li{width:100%;}
		.featured-categories > li > a{margin-right:8px;float:left;}
			.featured-categories li a.parent-cat{float:none;display:inline-block;padding-bottom:5px;}
				.featured-categories ul{float:none;}
	
.box .box-content{border:0;}
#footer{padding:8px;}
.footer-image{display:none;}
#footer .column:last-child{display:none;}
#footer .column{width:100%;}
	#footer .column ul li {float:left;padding-right:8px;}
		#footer .column{min-height:54px;}
img{max-width:100%;}
.product-grid > li{width:136px;}
ul.product-tab {border:0;}
.breadcrumb{margin-bottom:0;}
.cart-extra{width:100%;}
#column-right + #content{margin-right:0;}
#content{margin:0;min-height:1px;}
.info-content{margin:0;border:0;}
.product_page .option textarea{width:125px;}
ul.product-tab li a {border-right:0;font-size:11px;padding:0 9px 0 26px;}
#top .links > li.lang,#top .links > li.curr{display:none;}
.product-info > .left{float:none;margin:0;}
.product-info .image{margin:0 0 10px;}
.product-info .image-additional{clear:none;float:none;width:260px;}
.product-info > .left + .right{clear:both;margin:0}
input.large-field, select.large-field{width:182px;}
#powered .credits{float:left;}
 
}


@media screen and (max-width:730px) and (min-width:320px) {
 #container{width:100%;}	
 #top{margin:0;border-bottom:0;}
 #welcome,.promo-img{display:none;}
 #top .links{float:left;}
 h1#logo, #logo{float:none;text-align:center;}
 #search-cart .searchBox{width:335px;margin-bottom:3px;}
 #cart{float:none;clear:both;margin-top:3px;}
 	#cart h4{width:172px;}
 	#cart-total{padding-left:63px;}
	.slideshow{display:none;}
	.box .box-content{padding:5px;}
	.featured-categories > li, .box-product > li,.box-product .image {width:142px;}
	.featured-children li{padding-right:15px;float:left;padding-bottom:8px;}
 #search-cart .searchBox input{width:321px;}
 #search-cart .searchBox .selectCat,.hshare,#column-left,#column-right,.slideNav,nav{display:none;}
 	.menu2{background: #333 url('../image/1px.png') no-repeat top;height: 47px;display:block;}
		.menu2 .mainCat ul{display:none;}
			.menu2 .mainCat{position:relative;}
				.menu2 .mainCat ul{position:absolute;top:47px;background:#fff;z-index:1000;width:100%;}
				.menu2 .mainCat ul li a{border-bottom:1px solid #e6e6e6;}
					.menu2 .mainCat ul li a:hover{background:#f33;color:#fff;}
			.menu2 .mainCat a{color:#fff;text-decoration:none;font-size:14px;display:block;line-height:47px;color:#666;text-align:center;font-weight:bold;text-transform:uppercase;}
			.menu2 .mainCat a span{background:url('../image/linksArrow.png') no-repeat right;display:inline-block;text-indent:-9999px;overflow:hidden;padding-left:10px;width:15px;}
			
	
 #column-left + #column-right + #content, #column-left + #content,.box{margin:0;}
 .featured-categories > li, .box-product > li {padding-right:0;}
 	.featured-categories > li{width:100%;}
		.featured-categories > li > a{margin-right:8px;float:left;}
			.featured-categories li a.parent-cat{float:none;display:inline-block;padding-bottom:5px;}
				.featured-categories ul{float:none;}
.box .box-content{border:0;}
.footer-image{display:none;}
#footer .column:last-child{display:none;}
#footer .column{width:25%;}
img{max-width:100%;}
.product-grid > li{width:136px;}
ul.product-tab {border:0;}
.breadcrumb{margin-bottom:0;}
.cart-extra{width:100%;}
#column-right + #content{margin-right:0;}
#content{margin:0;min-height:1px;}
.info-content{margin:0;border:0;}
.product_page .option textarea{width:125px;}
ul.product-tab li a {border-right:0;font-size:12px;padding:0 18px 0 28px;}
.product-info > .left{float:none;margin:0;}
.product-info .image-additional{clear:none;float:right;width:175px;}
.product-info > .left + .right{clear:both;margin:0}
input.large-field, select.large-field{width:182px;}
 
}

@media screen and (max-width: 959px) and (min-width: 480px){
 #container{width:100%;}	
 #top{margin:0;border-bottom:0;}
 #search-cart .searchBox{width:302px;}
 #search-cart .searchBox input{width:288px;}
 #search-cart .searchBox .selectCat,.hshare,#column-left,#column-right,.slideNav,nav{display:none;}
 	.menu2{background: #333 url('../image/1px.png') no-repeat top;height: 47px;display:block;}
		.menu2 .mainCat ul{display:none;}
			.menu2 .mainCat{position:relative;}
				.menu2 .mainCat ul{position:absolute;top:47px;background:#fff;z-index:1000;width:100%;}
				.menu2 .mainCat ul li a{border-bottom:1px solid #e6e6e6;}
					.menu2 .mainCat ul li a:hover{background:#f33;color:#fff;}
			.menu2 .mainCat a{color:#fff;text-decoration:none;font-size:14px;display:block;line-height:47px;color:#666;text-align:center;font-weight:bold;text-transform:uppercase;}
			.menu2 .mainCat a span{background:url('../image/linksArrow.png') no-repeat right;display:inline-block;text-indent:-9999px;overflow:hidden;padding-left:10px;width:15px;}
			
	
 #column-left + #column-right + #content, #column-left + #content,.box{margin:0;}
 .featured-categories > li, .box-product > li {padding-right:6px;}
.box .box-content{border:0;}
#footer .footer-image li{width:227px;}
img{max-width:100%;}
.product-grid > li{width:167px;}
ul.product-tab {border:0;}
.breadcrumb{margin-bottom:0;}
.cart-extra{width:100%;}
#column-right + #content{margin-right:0;}
#content{margin:0;min-height:1px;}
.info-content{margin:0;border:0;}
 
}
